.boos-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-left: 30px; /* مسافة بين الأيقونة والنص لتظهر على اليمين */
}

.boosts-button {
    position: fixed;
    bottom: 110px;
    /*top: 60px;*/
    left: -35px; /* وضع الزر داخل الشاشة بشكل طبيعي */
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 16px;
    border: 1px solid #343434;
    font-weight: bold;
    margin: 0;
    padding: 3px 18px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 200;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease; /* تأثير الانزلاق عند التحويم */
    display: flex;
    align-items: center;
    justify-content: space-between; /* لجعل النص والصورة على الأطراف */
}

.boosts-button:hover {
    left: 15px; /* عند التحويم، يخرج الزر بالكامل إلى الخارج */
}

/*.boos-icon {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 50%; 
}

.boosts-button img {
    vertical-align: middle;
}  

.boosts-button {
    position: fixed;
    top: 13px; 
    right: 90px;
    border: 1px solid #343434;
    background: linear-gradient(90deg, #343434, #1a1a1a);
    border-radius: 15%; 
    padding: 4px; 
}

.boosts-button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}
*/

.bos-image {
    width: 105px;
    height: auto;
    display: block;
    margin: 0 auto;
}  

#b {
    text-align: center; 
    font-size: 1em;
    margin-bottom: 10px
    color: #fff;
}


.boosts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boost-item {
    width: calc(50% - 20px);
    min-height: 120px; /* ضبط الحد الأدنى للارتفاع */
    padding: 15px;
    margin: 10px 0;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #343434;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    text-align: center;
}

.boost-item p {
    margin: 5px 0;
    padding: 0;
    flex: none; /* تثبيت النص */
    color: #fff;
    line-height: 1.5;
    max-height: 40px; /* يمكنك تخصيص هذا الارتفاع بناءً على طول النصوص المتوقعة */
/*   overflow: hidden;*/ /* اخفاء النص الزائد */
    /*text-overflow: ellipsis;*/ /* إظهار ... في حالة النص الطويل */
}

.boost-item button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
    transition: background-color 0.3s;
    border: 1px solid #343434;
    margin-top: auto; /* يضمن بقاء الزر في أسفل الحاوية */
} 

.boost-item button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}

.boost-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}
 
.boost-item img:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3);
}
 
