/*.boos-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-left: 30px; 
}

.boosts-button {
    position: fixed;
    bottom: 120px;
    left: -35px; 
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 16px;
    border: 1px solid #343434;
    font-weight: bold;
    margin: 0;
    padding: 3px 18px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 200;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: left 0.3s eas
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boosts-button:hover {
    left: 15px; 
}*/


.boos-icon {
    width: 23px;
    height: 23px;
    flex-shrink: 0;
}

.boosts-button img {
    vertical-align: middle;
}  

.boosts-button {
   /* position: fixed;*/
    margin-left: 5px;
/*   padding: 4px 20px;
     bottom: 115px; 
     right: 20px;*/
    font-size: 16px;
    color: #fff;
    font-weight: bold;
   /* border: 1px solid #343434;*/
    background-color: rgba(255, 255, 255, 0.004);
    border-radius: 10px; 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    opacity: 0.7;
}

/*.boosts-button:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.3), 0 0 18px rgba(255, 255, 255, 0.2);
}*/
 

.bos-image {
    width: 105px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}  

#b {
    text-align: center; 
    font-size: 1em;
    margin-bottom: 20px
    color: #fff;
}


.boosts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 320px;
    
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;*/
}

.boost-item {
    width: 90%/*calc(50% - 20px)*/;
    min-height: 120px; /* ضبط الحد الأدنى للارتفاع */
    padding: 15px;
    margin: 10px 0;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #343434;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    border-radius: 10px;
   /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    text-align: center;*/
}

.boost-item p {
    margin: 5px 0;
    padding: 0;
    flex: none; /* تثبيت النص */
    color: #fff;
    line-height: 1.5;
    max-height: 40px; /* يمكنك تخصيص هذا الارتفاع بناءً على طول النصوص المتوقعة */
/*   overflow: hidden;*/ /* اخفاء النص الزائد */
    /*text-overflow: ellipsis;*/ /* إظهار ... في حالة النص الطويل */
}

.boost-item button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
    transition: background-color 0.3s;
    /*border: 1px solid #343434;*/
    margin-top: auto; /* يضمن بقاء الزر في أسفل الحاوية */
} 

.boost-item button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}

.boost-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}
 
.boost-icon:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3);
}
 
.coinBost-icon {
    width: 18px;  /* تحديد الحجم المناسب للصورة */
    height: auto;
    display: inline-block;  /* لعرض الصورة بجانب النص */
    vertical-align: middle;  /* لضبط المحاذاة بشكل جيد مع النص */
    margin-right: 2px;  /* لإضافة مسافة صغيرة بين الصورة والنص */
}


#energyBoostLevel,
#energyUpgradeCost,
#robotBoostLevel,
#RobotUpgradeCost,
#coinBoostLevel,
#coinUpgradeCost,
#clickMultiplier,
#boostUpgradeCost {
    font-size: 15px;
    color: #fff;
    opacity: 0.7;
}

