.boosts-container {
    display: flex;
    flex-direction: row; /* ترتيب الخانات بجانب بعضها */
    justify-content: space-between; /* توزيع المساحة بين الخانات */
    flex-wrap: wrap; /* السماح بتغليف العناصر عند الحاجة */
    width: 100%; /* تغطية الشاشة بالكامل */
    padding-bottom: 5px;
}

.boost-item {
    width: 48%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #343434;
    background: #1c1c1c;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* ترتيب العناصر عموديًا */
    align-items: center; /* محاذاة العناصر في المنتصف أفقيًا */
    justify-content: center; /* محاذاة العناصر في المنتصف عموديًا */
    box-sizing: border-box;
    text-align: center; /* تمييز النص في المنتصف */
}

.boost-item p {
    margin: 0;
    padding: 0;
    flex: 1; /* توسع النص ليملأ المساحة المتاحة */
    text-align: left;
    color: #fff;
    font-size: var(--task-font-size);
}

.boost-item img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px; /* مسافة بين الصورة والنص */
}
  

.boost-item button {
    background-color: #000;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    width: 80%; /* عرض الزر ليكون أكبر تحت النص */
    transition: background-color 0.3s;
    border: 1px solid #343434;
    font-size: var(--claim-button-size);
    margin-top: 10px; /* مسافة بين النص والزر */
} 

.boost-item button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}


.bos-image {
    width: 105px;
    height: auto;
    display: block;
    margin: 0 auto;

}
 
