/*.daily-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-left: 30px;
}

.Daily-button {
    position: fixed;
    bottom: 210px;
    left: -35px; 
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 16px;
    border: 1px solid #343434;
    font-weight: bold;
    margin: 0;
    padding: 3px 18px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 200;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.Daily-button:hover {
    left: 15px; 
}*/


.daily-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 50%; 
}

.Daily-button img {
    vertical-align: middle;
}  

.Daily-button {
    position: fixed;
    top: 13px; 
    right: 97px;
    border: 1px solid #343434;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15%; 
    padding: 4px;
}

.Daily-button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}
