.daily-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 50%; 
}

.Daily-button img {
    vertical-align: middle;
}  

.Daily-button {
    position: fixed;
    top: 13px; 
    right: 100px;
    border: 1px solid #343434;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15%; 
    padding: 4px;
}

.Daily-button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}

.logindaily-content {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    padding: 10px; 
    border-radius: 25px 25px 0 0;
    border-top: 2px solid #343434;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999; /* قيمة z-index عالية جداً */
    transform: translateY(0); /* يظهر من الأسفل */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* تقريب العناصر ببعضها */
    gap: 5px; /* تقليل المسافة بين العناصر */
}
