.games-section {
    text-align: center;
    margin-top: 20px;
}

/*.Play-game-button {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
    border: 1px solid #343434;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-align: center;
    height: 50px;
}

.Play-game-button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);

} */

.games-icon {
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    margin-left: 20px; /* مسافة بين الأيقونة والنص لتظهر على اليمين */
}

.Play-game-button {
    position: fixed;
    top: 60px;
    left: -20px; /* وضع الزر داخل الشاشة بشكل طبيعي */
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 16px;
    border: 1px solid #343434;
    font-weight: bold;
    margin: 0;
    padding: 2px 18px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 200;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease; /* تأثير الانزلاق عند التحويم */
    display: flex;
    align-items: center;
    justify-content: space-between; /* لجعل النص والصورة على الأطراف */
}

.Play-game-button:hover {
    left: 30px; /* عند التحويم، يخرج الزر بالكامل إلى الخارج */
}
 
#gamePage .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}

#gamePage .gamePage-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

#GA {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

#currentGameInfo {
    font-size: 1.2rem;
    color: #aaaaaa;
    margin-bottom: 30px;
}

#gamePage .game-item {
    background: rgba(0, 0, 0, 0.05);
    /*background: #1c1c1c;*/
    border: 1px solid #343434;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 15px;
    text-align: center;
    width: 88%;
    max-width: 300px;
}

#gamePage .game-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

#gamePage .game-item p {
    font-size: 1rem;
    color: #fff;
    margin: 5px 0;
}

#gamePage .game-button {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    border: 1px solid #343434;
}

#gamePage .game-button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}


#gameFrameContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter-container {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#gameFrame {
    width: 90%;
    height: 80%;
    border: none;
    border-radius: 15px;
}

#closeGamePage {
    margin-top: 15px;
    margin-left: 12px;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.counter, #coinn {
    font-size: 1.2rem;
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    background-color: #343434;
    padding: 8px 16px;
    border-radius: 10px;
    margin-right: 10px;
    
}

.claim-button {
    margin-left: 10px;
    padding: 10px 25px;
    background-color: #343434;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem; 
    cursor: pointer;
}

.claim-button:hover {
    background: linear-gradient(90deg, #d69a1c, #794106, #d69a1c, #9f620c);
}
 
