.Gamess {
    max-height: 290px; /* تحديد ارتفاع ثابت للحاوية الداخلية */
    width: 88%; /* عرض الحاوية الداخلية كاملاً */
    overflow-y: auto; /* تمكين التمرير العمودي */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    padding: 15px;
    border: 2px solid #343434;
    border-radius: 10px;
} 

.games-section {
    text-align: center;
    margin-top: 20px;
}

.games-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-left: 30px; /* مسافة بين الأيقونة والنص لتظهر على اليمين */
}

.Play-game-button {
    position: fixed;
   /* top: 60px;*/
    bottom: 160px;
    left: -35px; /* وضع الزر داخل الشاشة بشكل طبيعي */
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 16px;
    border: 1px solid #343434;
    font-weight: bold;
    margin: 0;
    padding: 3px 18px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 200;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease; /* تأثير الانزلاق عند التحويم */
    display: flex;
    align-items: center;
    justify-content: space-between; /* لجعل النص والصورة على الأطراف */
}

.Play-game-button:hover {
    left: 15px; /* عند التحويم، يخرج الزر بالكامل إلى الخارج */
}



#gamePage .gamePage-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

#GA {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

#currentGameInfo {
    font-size: 1.2rem;
    color: #aaaaaa;
    margin-bottom: 30px;
}


#gamePage .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* تمركز العناصر في منتصف الشاشة */
    width: 100%;
    padding: 0;
    margin-bottom: 50px; 
}

#gamePage .game-item {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* محاذاة العناصر نحو اليسار */
    margin: 15px 0;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    border-radius: 10px;
    max-width: 400px;
    width: 88%;
    height: 50px;
    text-align: left;
    border: 1px solid #343434;
}


#gamePage .game-item img {
    width: 70px;
    height: auto;
    border-radius: 10px;
    margin-right: 15px; /* مسافة بين الصورة والنص */
    flex-shrink: 0;
}

#gamePage .game-item p {
    font-size: 1rem;
    color: #fff;
    margin: 0;
    flex-grow: 1; /* ليشغل النص المساحة المتوسطة */
}

.game-item button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 30%;
    transition: background-color 0.3s;
    border: none;
    font-weight: bold;
    font-size: var(--claim-button-size);
    /*border: 1px solid #343434;*/
    z-index: 10;
}
 
#gamePage .game-button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}


#gameFrameContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter-container {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#gameFrame {
    width: 90%;
    height: 80%;
    border: none;
    border-radius: 15px;
}

#closeGamePage {
    margin-top: 15px;
    margin-left: 12px;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.counter, #coinn {
    font-size: 1.2rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border: 1px solid #343434;
    padding: 8px 16px;
    border-radius: 10px;
    margin-right: 10px;
    
}

.claim-button {
    margin-left: 10px;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border: 1px solid #343434;
    border-radius: 10px;
    font-size: 1.2rem; 
    cursor: pointer;
}

.claim-button:hover {
    background: linear-gradient(90deg, #d69a1c, #794106, #d69a1c, #9f620c);
}
 
