/* Game page */
.Play-game-button {
    position: fixed;
    top: 16px; 
    left: 270px;
    background-color: transparent;
    background: linear-gradient(90deg, #d69a1c, #794106, #d69a1c, #9f620c); /* التدرج اللوني */
    -webkit-background-clip: text; /* قص الخلفية للنص */
    background-clip: text;
    color: transparent;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    z-index: 200;  
}

#gamePage .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}

#gamePage .gamePage-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

#GA {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

#currentGameInfo {
    font-size: 1.2rem;
    color: #aaaaaa;
    margin-bottom: 30px;
}

#gamePage .game-item {
    background: #1c1c1c; 
    border: 1px solid #343434;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 15px;
    text-align: center;
    width: 88%;
    max-width: 300px;
}

#gamePage .game-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

#gamePage .game-item p {
    font-size: 1rem;
    color: #fff;
    margin: 5px 0;
}

#gamePage .game-button {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #343434;
}

#gamePage .game-button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}

/* تنسيقات iframe */
#gameFrameContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* خلفية داكنة */
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameFrame {
    width: 80%;
    height: 80%;
    border: none;
    border-radius: 10px; /* إضافة حواف مستديرة لـ iframe */
}

.close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336; /* لون زر الإغلاق */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #d32f2f; /* لون عند التمرير فوق زر الإغلاق */
}


.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.counter {
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #1c1c1c;
    padding: 8px 16px;
    border-radius: 5px;
    margin-right: 10px;
}

.claim-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4CAF50; /* لون زر Claim */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.claim-button:hover {
    background-color: #388E3C; /* لون عند التمرير فوق زر Claim */
}
 
