#Profit-in {
    font-size: 12px;
    margin-right: 20px;
    right: 40px;
    color: #ffffff; /* لون النص */
    transition: padding 0.2s ease; /* تأثير بسيط عند التمدد */
    min-width: 50px; /* عرض أدنى للعنصر */
    white-space: nowrap; /* لمنع النص من الانتقال إلى سطر جديد */
}

#miningnavbarBalanceDisplay, #BoostnavbarBalanceDisplay, #tasknavbarBalanceDisplay, #navbarBalanceDisplay,
#lvlnavbarBalanceDisplay, #puzzlenavbarBalanceDisplay, #AccountnavbarBalanceDisplay {
    font-size: 13px;
    margin-left: 20px;
    left: 40px;
    color: #ffffff; /* لون النص */
    transition: padding 0.2s ease; /* تأثير بسيط عند التمدد */
    min-width: 50px; /* عرض أدنى للعنصر */
    white-space: nowrap; /* لمنع النص من الانتقال إلى سطر جديد */
}

#globalNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%; /* نقطة البداية في المنتصف */
    transform: translateX(-50%); /* توسيط العرض */
    width: 95%;
    height: 40px;
    z-index: 500;
    border-bottom: 0.50px solid #343434;
    /*border-radius: 10px;*/
    border-radius: 0 0 10px 10px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
}

#balanceContainer, #earnContainer {
    font-weight: bold;
}



#mainPage {
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    background-image: url('i/sso.jpg');
    background-size: cover; /* لجعل الصورة تغطي الصفحة بالكامل */
    background-repeat: no-repeat; /* لمنع تكرار الصورة */
}


#tasksPage {
    padding-top: 80px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 100px; /* مسافة سفلية */
}


#accountPage {
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 180px; /* مسافة سفلية */
}


#Puzzlespage  {
    padding-bottom: 100px;
    overflow-y: auto;
    padding-top: 120px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
   
}

#gamePage {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-y: auto;
    background-clip: padding-box;
    position: relative;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}



#boostsPage {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(5px); /* تأثير ضبابي */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 120px; /* مسافة سفلية */
}


#levelPage {
    padding-top: 80px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 40px; /* مسافة سفلية */
}


#walletPage {
    padding-top: 0; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 0; /* مسافة سفلية */
}

#DailyPage {
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 180px; /* مسافة سفلية */
}

#SettingsPage {
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 180px; /* مسافة سفلية */
}

#miningPage {
    padding-top: 40px;
    padding-bottom: 150px;
    overflow-y: auto;
    background-clip: padding-box;
    position: relative;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}
