#mainPage {
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    background-image: url('i/splasx.jpg');
    background-size: cover; /* لجعل الصورة تغطي الصفحة بالكامل */
    background-repeat: no-repeat; /* لمنع تكرار الصورة */
}


#tasksPage {
    padding-top: 80px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 100px; /* مسافة سفلية */
}


#accountPage {
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 180px; /* مسافة سفلية */
}


#Puzzlespage  {
    padding-bottom: 120px;
    overflow-y: auto;
    padding-top: 100px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
   
}

#gamePage {
    padding-top: 200px;
    padding-bottom: 100px;
    overflow-y: auto;
    background: 
        radial-gradient(circle at 10% 10%, rgba(0, 0, 0, 0.8), transparent 60%), /* نقطة ضوء خفيفة في الزاوية العلوية اليسرى */
        radial-gradient(circle at 90% 20%, rgba(0, 0, 0, 0.7), transparent 70%), /* نقطة ضوء خفيفة في الزاوية العلوية اليمنى */
        linear-gradient(to bottom left, rgba(0, 0, 0, 0.8), transparent 40%), /* تدرج منحني من اليسار العلوي لداخل الصفحة */
        linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(51, 51, 51, 1) 80%), /* التدرج الأساسي من الأعلى للأسفل */
        linear-gradient(to top, rgba(0, 0, 0, 1), transparent 20%), /* تدرج في الأسفل لجعل الحافة السفلية سوداء */
        linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent 20%); /* تدرج في الأعلى لجعل الحافة العلوية سوداء */
    background-clip: padding-box;
    position: relative;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}



#boostsPage {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(5px); /* تأثير ضبابي */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 120px; /* مسافة سفلية */
}


#levelPage {
    padding-top: 5px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 40px; /* مسافة سفلية */
}


#walletPage {
    padding-top: 0; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 0; /* مسافة سفلية */
}
