#mainPage {
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
}


#tasksPage {
    padding-top: 80px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 120px; /* مسافة سفلية */
}


#accountPage {
    padding-top: 80px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 180px; /* مسافة سفلية */
}


#Puzzlespage  {
    padding-bottom: 120px;
    overflow-y: auto;
    padding-top: 30px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
   
}


#gamePage {
    padding-top: 40px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto;
    padding-bottom: 110px;
}


#boostsPage {
    padding-top: 40px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 120px; /* مسافة سفلية */
}


#levelPage {
    padding-top: 5px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 50px; /* مسافة سفلية */
}


#walletPage {
    padding-top: 0; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 0; /* مسافة سفلية */
}
