.minee-container {
   /* border-top: 1px solid #1E90FF;*/
    width: 100%; /* تغطي كامل عرض الشاشة */
    height: 84%; /* تغطي 70% من الشاشة */
    position: absolute; /* تموضع مطلق */
    bottom: 0; /* تبدأ من أسفل الشاشة */
    left: 0; /* تبدأ من الحافة اليسرى */
  /*  background: #101010;*/
    background: linear-gradient(
        to bottom,
        #000, 
        #101010, 
        black
    );
    border-radius: 23px 23px 0 0; /* حواف علوية دائرية فقط */
   /* box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.5);*/ /* إضافة ظل علوي */
}

#mainPage {
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box;
    background: linear-gradient(
        to bottom,
        #000, 
        black
    );

} 

/* تأثير ضبابي للإضاءة */
#mainPage::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), transparent 80%);
    transform: translate(-50%, -50%);
    filter: blur(100px);
    opacity: 0.3; /* لتخفيف الإضاءة */
    z-index: 0;
}


   /* background-image: url('i/pageee.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}*/


#miningnavbarBalanceDisplay, #BoostnavbarBalanceDisplay, #tasknavbarBalanceDisplay, #navbarBalanceDisplay,
#lvlnavbarBalanceDisplay, #puzzlenavbarBalanceDisplay, #AccountnavbarBalanceDisplay, #gnavbarBalanceDisplay {
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
    left: 40px;
    color: #ffffff; /* لون النص */
    transition: padding 0.2s ease; /* تأثير بسيط عند التمدد */
    min-width: 30px; /* عرض أدنى للعنصر */
    white-space: nowrap; /* لمنع النص من الانتقال إلى سطر جديد */
}

#globalNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 13px;
    left: 20px; /* نقطة البداية في المنتصف */
  /*  transform: translateX(-50%);*/ /* توسيط العرض */
    width: auto;
    height: 30px;
    z-index: 500;
   /* border: 1px solid #1a1a1a;*/
    border-radius: 20px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px); 
}

#balanceContainer {
    font-weight: bold;
}

#tasksPage {
    padding-top: 80px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 100px; /* مسافة سفلية */
}


#accountPage {
    padding-top: 60px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 180px; /* مسافة سفلية */
}


#Puzzlespage  {
    padding-bottom: 100px;
    overflow-y: auto;
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    /*background-image: url('i/pageee.jpg');
    background-size: cover;
    background-repeat: no-repeat;*/
}

#gamePage {
    padding-top: 40px;
    padding-bottom: 100px;
    overflow-y: auto;
    background-clip: padding-box;
    position: relative;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}



#boostsPage {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(5px); /* تأثير ضبابي */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 120px; /* مسافة سفلية */
}


#levelPage {
    padding-top: 80px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 40px; /* مسافة سفلية */
}


#walletPage {
    padding-top: 0; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 0; /* مسافة سفلية */
}

#DailyPage {
    padding-top: 50px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 180px; /* مسافة سفلية */
}

#SettingsPage {
    padding-top: 90px; /* يمكنك تغيير القيمة حسب الحاجة */
    background-clip: padding-box; /* تأكد من أن الخلفية لا تؤثر على المسافة */
    overflow-y: auto; /* لجعل الصفحة قابلة للتمرير */
    padding-bottom: 50px; /* مسافة سفلية */
}

#miningPage {
    padding-top: 40px;
    padding-bottom: 150px;
    overflow-y: auto;
    background-clip: padding-box;
    position: relative;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9); /* ظل داخلي لإضافة عمق للحواف */
}
