.promo-input-container {
    display: flex;
    align-items: center;
    gap: 10px; /* مسافة بين حقل الإدخال وزر الإرسال */
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}

.promo-input {
    background: #343434;
    width: 60%;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #343434;
    color: white;
    text-align: left;
}

.apply_PromoCode {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #343434;
    cursor: pointer;
    width: 25%;
    height: 45px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apply_PromoCode:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}

.promo-icon {
    width: 25px;
    height: 25px;
    margin-right: 3px; /* مسافة صغيرة بين الأيقونة والنص */
}
