.promo-container {
    display: flex;
    align-items: center; /* محاذاة الحقل والزر بشكل أفقي */
    justify-content: center;
    text-align: center;
    gap: 10px; /* المسافة بين حقل الإدخال والزر */
} 

.promo-code-input {
    background: #343434;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #343434;
    width: 200px; /* حجم الحقل */
    color: white;
}

.apply_PromoCode {
    padding: 10px;
    background: #1c1c1c;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #343434;
    cursor: pointer;
    font-size: 16px;
}

.apply_PromoCode:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}

.promo-icon {
    width: 35px;
    height: 35px;
    margin-right: 0;
    flex-shrink: 0;
}

.promo_CodeBtn img {
    vertical-align: middle;
}

