.promo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88%;
} 

.promo-input-container {
    display: flex;
    align-items: center;
    gap: 5px; /* مسافة بين حقل الإدخال وزر الإرسال */
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.promo-input {
    background-color: rgba(0, 0, 0, 0.7);
    width: 55%;
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #343434;
    color: white;
    text-align: left;
    margin-left: 10px;
}

.apply_PromoCode {
    background: #fff;
    color: transparent;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #343434;
    cursor: pointer;
    width: 30%;
    height: 45px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    -webkit-background-clip: text;
    background-clip: text;
}
 
.apply_PromoCode.loading {
    pointer-events: none; /* منع النقر أثناء التحميل */
}

.spinner {
    border: 4px solid #ffffff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
 
 
.promo-icon {
    width: 25px;
    height: 25px;
    margin-right: 3px; /* مسافة صغيرة بين الأيقونة والنص */
}
