.Morsecountdown-display {
    position: absolute;
    top: 30px;
    right: 15px;
    padding: 8px; /* مسافة داخلية */
    font-size: 18px; /* حجم الخط */
    display: flex;
    align-items: center; /* لضبط المحاذاة الرأسية */
    border-radius: 8px; /* زوايا دائرية */
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff; /* لون النص */
    transition: padding 0.2s ease; /* تأثير بسيط عند التمدد */
    min-width: 50px; /* عرض أدنى للعنصر */
    white-space: nowrap; /* لمنع النص من الانتقال إلى سطر جديد */
}

.countdown-display {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 8px; /* مسافة داخلية */
    font-size: 18px; /* حجم الخط */
    display: flex;
    align-items: center; /* لضبط المحاذاة الرأسية */
    border-radius: 8px; /* زوايا دائرية */
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff; /* لون النص */
    transition: padding 0.2s ease; /* تأثير بسيط عند التمدد */
    min-width: 50px; /* عرض أدنى للعنصر */
    white-space: nowrap; /* لمنع النص من الانتقال إلى سطر جديد */
}

/* تأثير الضباب والتوهج عند عدم التفعيل */
.puzzle-item.inactive {
    filter: blur(5px); /* يجعل العنصر ضبابيًا */
    border: 3px solid darkred; /* حواف حمراء داكنة */
    box-shadow: 0 0 10px red; /* تأثير توهج حول العنصر */
    pointer-events: none; /* تعطيل التفاعل مع العنصر */
}

/* تأثير إعادة العنصر لحالته الطبيعية بعد انتهاء العد التنازلي */
.puzzle-item.active {
    filter: none; /* إزالة التأثير الضبابي */
    border: none; /* إزالة الحواف الحمراء */
    box-shadow: none; /* إزالة التوهج */
    pointer-events: auto; /* تمكين التفاعل مع العنصر */
}


#Puzzlespage .puzzles-container {
    display: grid;
    grid-template-columns: repeat(2, 44%); /* عرض كل عنصرين بجانب بعض */
    gap: 20px; /* المسافة بين العناصر */
    justify-content: center; /* محاذاة العناصر في المنتصف */
    margin-top: 10px;
}

#Puzzlespage .puzzle-item {
    width: 88%; /* عرض الحاوية بنسبة 44% */
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #343434;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    text-align: center;
}

#Puzzlespage .puzzle-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

#Puzzlespage .puzzle-description {
    color: white;
    font-size: 14px;
    margin: 10px 0;
    padding: 0 10px;
}

#Puzzlespage .puzzle2-image {
    width: 110px;
    height: 110px; /* اجعل الارتفاع مساويًا للعرض لتكون الصورة دائرية */
    margin: 0 auto 10px;
    display: block;
    object-fit: cover; 
}

#Puzzlespage #Puzzles {
    color: #aaaaaa; 
    font-size: 20px; 
    text-align: center;
    margin: 10px;
}

#Puzzlespage #buttons-container {
    display: flex;
    flex-wrap: wrap;  /* لتمكين العناصر من الانتقال إلى السطر التالي عند الحاجة */
    gap: 15px;  /* المسافة بين الأزرار */
    justify-content: center; /* محاذاة الأزرار في المنتصف */
}

#Puzzlespage .bomb-btu,
#Puzzlespage .puzzle-btn,
#Puzzlespage .Morse-code, 
#Puzzlespage .Caesar-btu, 
#Puzzlespage .room-btu, 
#Puzzlespage .Numbers-btu {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  /*  border: 1px solid #343434; */
    width: 70%; /* العرض 90% */
    display: block; /* لجعل العنصر يعمل ككتلة */
    margin: 0 auto 15px; /* لمركزة الزر في المنتصف */
    height: 35px;
}

#Puzzlespage .puzzle-item button :hover {
    background: linear-gradient(90deg, #794106, #9f620c, #d69a1c);
    background-position: center;
}

/* تخصيص الحاوية */
#Puzzlespage .puzzle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

#Puzzlespage .puzzle-content {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    padding: 10px; 
    border-radius: 25px 25px 0 0;
    border-top: 2px solid #343434;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999; /* قيمة z-index عالية جداً */
    transform: translateY(0); /* يظهر من الأسفل */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* تقريب العناصر ببعضها */
    gap: 5px; /* تقليل المسافة بين العناصر */
}

#Puzzlespage input, 
#Puzzlespage button {
    margin-top: 5px; /* تقليل المسافة العليا */
    padding: 5px; /* تقليل الحواف الداخلية */
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
}

#Puzzlespage input {
    border: 2px solid #343434; 
}

#Puzzlespage input:focus {
    border-color: var(--hover-color);
}

#Puzzlespage .notification {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
    z-index: 500000;
}

#Puzzlespage .success {
    color: green;
}

#Puzzlespage .warning {
    color: orange;
}

#Puzzlespage #countdownTimer {
    margin-top: 15px;
    font-size: 16px;
}

#Puzzlespage .hidden {
    display: none;
}

#Puzzlespage .close-btn {
    margin-top: 10px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.puzzle-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* ثلاث أعمدة في الصف الأول */
    gap: 8px; /* مسافة بين الأزرار */
    justify-items: center; /* محاذاة الأزرار في المنتصف */
    margin-top: 4px;
}

.puzzle-options button {
    padding: 8px 4px;
    font-size: 12px;
    font-weight: bold; 
    cursor: pointer;
   /* border: 1px solid #343434; */
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.puzzle-options button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

/* تخصيص الزرين الأخيرين ليظهرا في الصف الثاني */
.puzzle-options button:nth-child(4),
.puzzle-options button:nth-child(5) {
    grid-column: span 1; /* توزيع الزرين في الصف الثاني */
}

#puzzleHint {
    margin-top: 10px; /* مسافة بين التلميح والأزرار */
}

/* Countdown timer container styling */
#countdownTimer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;  /* محاذاة المؤقت في المنتصف */
    letter-spacing: 3px; /* زيادة المسافة بين الأرقام */
}

#timer {
    color: red;
    font-size: 20px; /* حجم الخط للمؤقت */
    background-color: none; 
    padding: 8px;
    border-radius: 10px;
    margin-left: 5px; /* مسافة بين النص والمؤقت */
    font-family: 'Courier New', Courier, monospace; /* خط ثابت العرض */
    width: 100px; /* يمكنك ضبط العرض لضمان ثبات الحجم */
    text-align: center; /* محاذاة النص في المنتصف */
}

/* Animation for the blinking effect */
@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

/* Styling for the text next to the timer */
#timeText {
    font-size: 18px; /* حجم النص العادي */
    color: #fff; /* لون النص */
    margin-right: 5px; /* مسافة بين النص والمؤقت */
    text-align: center;
}

.attempts-display {
    font-size: 16px; /* حجم الخط */
    color: #fff; /* لون النص */
    margin-bottom: 1px; /* مسافة تحت العنوان */
    text-align: center; /* توسيط النص */
}

#Pu {
    color: #fff; 
    font-size: 14px; 
    margin: 10px 0;
    text-align: center;
}

#puzzleQuestion {
    font-size: 25px; /* حجم الخط أكبر */
    font-weight: bold; /* لجعل النص عريض */
    margin-bottom: 5px; /* إضافة بعض المسافة تحت السؤال */
    text-align: center; /* لتوسيط السؤال */
}

.reward-display {
    font-size: 18px; 
    color: #fff; /* إخفاء النص ليظهر التدرج */
    padding: 10px 0; /* إضافة مسافة من الأعلى والأسفل */
    text-align: center; /* توسيط النص داخل العنصر */
}


 #Puz-to {
    margin-bottom: 35px; /* يمكنك تغيير القيمة حسب المسافة التي تريدها */
    font-weight: bold;
    font-size: 35px; 
}

.puzzle-icon {
    width: 30px;
    height: 30px;
    margin-right: 0; /* مسافة بين الصورة والنص */
    flex-shrink: 0;
}

.puzzle-btn img {
    vertical-align: middle;
}  


#room {
    color: white; /* لون النص */
    font-size: 18px; /* حجم الخط */
    margin-top: 5px; /* إزالة المسافة من الأعلى */
    margin-bottom: 10px; 
    text-align: center;
}

.morse-content {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    padding: 10px; /* تقليل الحواف الداخلية */
    border-radius: 25px 25px 0 0; /* حواف علوية دائرية فقط */
    border-top: 2px solid #343434;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999; /* قيمة z-index عالية جداً */
    transform: translateY(0); /* يظهر من الأسفل */
    height: 65vh;
    display: flex;
    flex-direction: column; /* العناصر ستترتب عموديًا */
    justify-content: center; /* مركزية العناصر عموديًا */
    align-items: center;
    gap: 8px; /* تقليل المسافة بين العناصر */
}

#morseCipherContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
 }

#Puzzlespage #morseText {
    top: 10px; 
    font-size: 35px; /* حجم الخط */
    margin-bottom: 30px; 
    font-weight: bold;
}

#Puzzlespage #submitMorseAnswerBtn {
    padding: 12px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    /*border: 1px solid #343434;*/
    cursor: pointer;
    width: 80%;
    font-size: 16px;
}

/* تأثير التحويم على الزر */
#Puzzlespage #submitMorseAnswerBtn:hover {
    background: linear-gradient(90deg, #794106, #9f620c, #d69a1c);
}

#Puzzlespage #morseAnswerInput {
    background: #343434;
    width: 80%;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #343434;
}


.morseCipherQuestion {
    display: flex; /* استخدام الفليكس */
    flex-direction: column; /* ترتيب العناصر عمودياً */
    align-items: flex-start; /* محاذاة العناصر إلى اليسار */
}

#morseCode {
    font-size: 25px; /* حجم خط الشيفرة */
    margin-top: 5px; /* تباعد أعلى الشيفرة */
}

.puzzle-m-icon {
    width: 38px;
    height: 38px;
    margin-right: 0; /* مسافة بين الصورة والنص */
    flex-shrink: 0;
} 

.Morse-code img {
    vertical-align: middle;
}  
 
