.settings-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
} 

.Settings-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.settings-button img {
    vertical-align: middle;
}  

.settings-button {
    position: fixed;
    top: 14px; 
    right: 20px;
   /* left: 310px;*/
   /* border: 1px solid #343434;*/
    background-color: rgba(255, 255, 255, 0.001);
    border-radius: 10px; 
    padding: 5px; 
}

.settings-button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}
 
/* نافذة الإعدادات */
.settings-panel {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    padding: 10px; /* تقليل الحواف الداخلية */
    border-radius: 25px 25px 0 0; /* حواف علوية دائرية فقط */
    border-top: 2px solid #343434;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999; /* قيمة z-index عالية جداً */
    transform: translateY(0); /* يظهر من الأسفل */
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* تقريب العناصر ببعضها */
    align-items: center;
}

/* زر اللغة */
.language-button {
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    opacity: 0; 
    pointer-events: none;
}

/* زر الإغلاق */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.language-icon {
    width: 28px;
    height: 28px;
    margin-right: 0;
    flex-shrink: 0;
} 

.language-icon img {
    vertical-align: middle;
} 

.user-info {
    display: flex;
   /* flex-direction: center;
    justify-content: flex-start;
    /*justify-content: center;*//* توسيط النص داخل الحاوية */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 10px; 
    color: #ffffff; 
    width: 70%;
    height: 55px;
    border-radius: 10px;
    border: 1px solid #343434;
    margin-top: 70px; 
    margin-button: 25px; 
    margin: 70px auto 25px auto; /* توسيط الحاوية أفقياً */
    
  /*  position: absolute;
    opacity: 0; 
    pointer-events: none;*/
} 

.user-details {
    display: flex;
    flex-direction: column; /* وضع النصوص تحت بعض */
  /*  align-items: center;*/
    margin-left: 38px;
    
} 

.user-id {
    font-size: 15px;
} 

.user-name {
    font-size: 18px;
} 

.user-image {
    width: 35px; /* حجم الصورة */
    height: 35px;
    display: block;
    margin-left: 8px;
}

.account-summary {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border: 1px solid #343434;
    border-radius: 10px;
    margin: 70px auto 25px auto; 
    width: 70%;
    height: 150px;
    padding: 10px;
    line-height: 1.5; /* زيادة التباعد بين السطور */
}

.account-summary p {
    margin-bottom: 10px; /* إضافة تباعد بين الفقرات */
}
 
