:root {
    --primary-color: #000;
    --secondary-color: #ff00f0;
    --background-color-dark: #1c1c1c;
    --text-color-dark: #fff;
    --text-color-light: #fff;
    --button-bg: #003366;
    --button-text-color: #fff;
    --accent-color: #003366;
    --hover-color: #0085ff;
    --boost-item-bg: #fff;
    --task-item-bg: #f0f0f0;
    --claimed-bg: #00ffea;
    --claimed-text-color: #000;
    --task-font-size: 14px;
    --boost-font-size: 14px;
    --claim-button-size: 12px;
    --small-text-size: 12px;
}

/* إزالة تأثير التركيز */
button, input, select, textarea, img, a {
    outline: none;
    box-shadow: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}


body {
    margin: 0;
   /* font-family: 'IBM Plex Mono',sans-serif ;
    font-weight: 700;*//* لتحديد وزن الخط */

    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transition: background-color 0.5s, color 0.5s;
}


.container {
    width: 100%;
    max-width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    /*background: linear-gradient(45deg, #000, #343434, #000, #343434,#000);
    background-image: url('i/Background0.jpg');*/
    background-image: url('i/splasx.jpg');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0; /* لجعل الزاوية العلوية اليسرى دائرية */
    border-top-right-radius: 0; /* لجعل الزاوية العلوية اليمنى دائرية */
    border-bottom: 2px solid #343434
} 


 @media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}


.line {
    position: relative;
    top: -20px; /* تعديل هذا الرقم لتحريك الخط لأعلى أو أسفل حسب الحاجة */
    left: 50%;
    width: 80%; /* عرض الخط */
    height: 5px; /* سمك الخط */
    background-color: #000; /* لون الخط */
    border-radius: 10px; /* لجعل الحواف دائرية */
    transform: translateX(-50%); /* لتوسيع الخط أفقياً */
}
 
.hidden {
  display: none;
}
 
.screen-content {
    flex: 1;
    display: none;
    padding: 10px;
    position: relative;
    background: inherit;
    overflow: hidden;
}

.screen-content.scrollable {
    overflow-y: auto;
}

.screen-content.active {
    display: block;
}

.splash-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  /*  background: #000;*/
    background-image: url('i/sssl.jpg'); 
    background-size: cover; 
    background-position: center;
    position: absolute;
} 

.splash-title {
    margin-top: 20px;
    font-size: 45px;
}

.splash-subtitle {
    font-size: 20px;
}

.splash-loading img {
    top: 70%; 
    width: 300px;
}
 
/* شريط الطاقة */
.energy-bars-container {
    width: 100px; /* عرض الشريط */
    height: 13px; /* ارتفاع الشريط */
    border: 3px solid #fff; /* الخط المحيط بالشريط */
    border-radius: 15px; /* زوايا منحنية */
    overflow: hidden; /* إخفاء الأجزاء التي تخرج عن الحدود */
    position: relative; /* لجعل الحشو داخل الشريط */
    margin: 20px auto; /* لتوسيط شريط الطاقة */
}

.energy-bar-s {
    height: 100%; /* ليملأ ارتفاع الحاوية بالكامل */
    width: 0%; /* العرض يبدأ من 0% */
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c); /* التدرج اللوني */
    position: absolute; /* لجعل التحرك ضمن الشريط فقط */
    animation: moveEnergy 2s linear infinite; /* الحركة المتكررة للطاقة */
}

@keyframes moveEnergy {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%; /* تملأ الشريط */
        left: 0;
    }
    100% {
        width: 0%;
        left: 100%; /* تتحرك للخروج من الشريط */
    }
}


 .game-title {
    font-size: 20px;
    color: #fff;
}  

.balance-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

#balanceTitle {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px; 
    display: block;
    padding-bottom: 2px;
    background: linear-gradient(90deg, #d69a1c, #794106, #d69a1c, #9f620c); /* التدرج اللوني */
    -webkit-background-clip: text; /* قص الخلفية للنص */
    background-clip: text;
    color: transparent; /* جعل النص شفافًا لعرض التدرج */

}

#balanceAmount {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    margin-top: 50px;
    font-size: 38px;
    color: #fff;
    display: flex;
    align-items: center; /* لضبط المحاذاة الرأسية بين الصورة والنص */
    justify-content: center; /* لجعل النص والصورة في المنتصف */
}

#balanceAmount::before {
    content: "";
    display: inline-block;
    width: 45px; /* عرض الصورة */
    height: 45px; /* ارتفاع الصورة */
    background-image: url('i/coii.png'); /* رابط الصورة */
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px; /* مسافة بين الصورة والرقم */
}


.user-level {
    font-size: 16px; 
    background: linear-gradient(90deg, #d69a1c, #794106, #d69a1c, #9f620c); /* التدرج اللوني */
    -webkit-background-clip: text; /* قص الخلفية للنص */
    background-clip: text;
    color: transparent; /* جعل النص شفافًا لعرض التدرج */
    margin-left: 40px;
}
 

.energy-bar-container {
    display: flex;
    flex-direction: column; /* ترتيب العناصر عموديًا */
    justify-content: center; /* الاحتفاظ بمحاذاة إلى اليسار */
    align-items: center; /* الشريط والمعلومات في نفس المحاذاة على اليسار */
    position: absolute; /* تثبيت الحاوية في مكان محدد */
    bottom: 115px; /* ضبطه ليكون في الجزء السفلي */
    /*left: 20px; 
    margin-left: 0px;*/
}

.progress-bar {
    width: 180px; 
    height: 13px; 
    background-color: #555555; /* خلفية الشريط شفافة */
    border-radius: 50px; /* شكل الشريط */
    overflow: hidden; /* قص المحتوى الزائد */
   /* border: 2px solid #fff;*/
    margin-bottom: 5px; /* مسافة بسيطة بين المعلومات والشريط */
}

.progress-bar-inner {
    height: 100%; /* ارتفاع الشريط الداخلي */
    width: 100%; /* عرض الشريط الداخلي */
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c); 
    transition: width 0.5s ease;
} 


#energyInfo {
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px; /* حجم الخط */
    font-weight: bold; /* سمك الخط */
    color: #fff; /* لون النص */
    text-align: left; /* المحاذاة لليسار */
    margin-left: 0px;
    direction: rtl; /* الحفاظ على الاتجاه من اليمين لليسار */
    white-space: nowrap;
}
 
 
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(99.5% - 69px);
}

.clickable-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.clickable-image img {
    width: 275px;
    height: 275px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.10s ease-in-out ;
    cursor: pointer;
    margin-top: -20px; 
    transform: translateY(-5px);
    pointer-events: auto;
    border-radius: 30%;
    
}

.clickable-image img:active {
    transform: scale(0.95);
    filter: none;
}

@keyframes coin-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/*.clickable-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.clickable-image img {
    width: 270px;
    height: 270px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
    margin-top: -20px;
    transform: translateY(-5px);
}*/



 .diamond-coin {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: cover;
    pointer-events: none;
    animation: coin-bounce 1s infinite, fade-out 1s forwards;
    z-index: 9999;
}

.diamond-coin span {
    position: absolute;
    top: -20px;
    right: -10px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #343434;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    position: fixed;
    bottom: 25px;
    box-sizing: border-box; 
    width: 88%; /* لجعل العرض 80% */
    left: 50%; /* لضبطه في المنتصف */
    transform: translateX(-50%); /* لجعل العنصر في منتصف الشاشة */
    z-index: 100;
    
}

.menu button {
    background-color: none;
    color: #fff;
    border: none;
    padding: 5px;
    box-sizing: border-box; 
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    transition: background-color 0.3s ease, color 0.3s ease; /* حذف التحويل المتعلق بالتكبير */
    border-radius: 15px;
    position: relative;
    background: none;
    
}

.menu button.active {
    border: none;
    border-radius: 12px;
    color: transparent;
    background: linear-gradient(90deg, #d69a1c, #794106, #9f620c, #d69a1c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* تفعيل التدرج للنص */
}

.menu button:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    height: 65%;
    width: 1px;
    background: linear-gradient(90deg, #d69a1c, #794106, #9f620c, #d69a1c);
    top: 18%;
}

/*.menu button.active .menu-img {
    background: linear-gradient(135deg, #d69a1c, #794106, #9f620c, #d69a1c);
    -webkit-background-clip: border-box;
    border-radius: 10%;
}*/

 
.menu-img {
    width: 37px;
    height: 37px;
    margin-bottom: 3px;
    background: transparent; 
}

.home-img {
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
} 

.invite-section {
    display: flex;
    justify-content: center; /* يضع الزرين في المنتصف أفقياً */
    gap: 10px; /* يضبط المسافة بين الزرين */
    position: fixed; /* لجعل الزرين عائمين */
    bottom: 100px; /* المسافة من أسفل الشاشة */
    left: 50%; /* لتمركز الزرين أفقياً */
    transform: translateX(-50%); /* لتحريك الزرين لتمركزهم */
    width: calc(100% - 40px); /* لضبط العرض لتجنب حدود الشاشة */
    padding: 10px; /* مساحة داخلية حول الأزرار */
}

.invite-image {
    width: 105px;
    height: auto;
    display: block;
    margin: 0 auto;
} 

.invite-more {
    display: flex;
    align-items: center; /* توسيط عمودي للصورة والنص */
    justify-content: center; /* توسيط أفقي */
    gap: 8px; /* مسافة بين الصورة والنص */
    width: 75%; 
    height: 60px;
    background: linear-gradient(90deg, #343434, #1a1a1a); /* تدرج خلفية */
    /* background: #1c1c1c;*/
    color: #fff;
    border: 1px solid #343434; 
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 100;
}


.invite-more:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
} 

#inviteInfo {
    font-size: 15px;
    color: #aaaaaa;
    text-align: center;
    margin-top: 10px;

} 

.invite-copy {
    display: flex;
    align-items: center; /* توسيط عمودي للصورة والنص */
    justify-content: center; /* توسيط أفقي */
    gap: 8px; /* مسافة بين الصورة والنص */
    width: 20%; 
    height: 60px;
    background: linear-gradient(90deg, #343434, #1a1a1a); /* تدرج خلفية */
    /*background: #1c1c1c;*/
    color: #fff;
    border: 1px solid #343434; 
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 100;
} 

.invite-copy:hover {
   background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
} 

.invite-icon, .copy-icon {
    width: 20px;
    height: 20px;
    margin-right: 0; /* مسافة بين الصورة والنص */
    flex-shrink: 0;
}

.invite-icon img, .copy-icon img {
    vertical-align: middle;
}
 

.friends-list {
    margin: 10px auto;
    /*margin-top: 10px;*/
    border: 1px solid #343434; 
    padding: 0;
    list-style: none;
    color: #aaaaaa;
    width: 87%; /* لجعل العرض 80% */
    padding: 8px; 
    font-size: 18px; 
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    border-radius: 10px;      
    display: block;
}

.friends-list li {
    padding: 10px;
    border-bottom: 1px solid #343434;
}

.friends-list li:last-child {
    border-bottom: none;
}


.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 320px;
    padding-bottom: 5px; 
} 

.task-item {
    width: 88%;
    max-width: 400px;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #343434; 
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.task-item p {
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: left;
    color: #fff;
    font-size: var(--task-font-size);
}

.task-item img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 50%; 
    object-fit: cover; 
}

.task-item button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    width: 30%;
    transition: background-color 0.3s;
    border: none;
    font-weight: bold;
    font-size: var(--claim-button-size);
    border: 1px solid #343434;
    z-index: 10;
}

.task-item button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}

.task-item button.inactive {
    background-color: #9f0000;
}

.task-item button.claimed {
    background-color: #000;
    color: #fff;
}
 
.task-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.confirmation-modal {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    padding: 20px;
    border-radius: 25px 25px 0 0; /* حواف علوية دائرية فقط */
    border-top: 2px solid #343434;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    transform: translateY(0); /* يظهر من الأسفل */
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* توزيع العناصر بين الأعلى والأسفل */
}

.modal-image img {
    width: 140px; /* حجم الصورة */
    height: 140px;
    margin: 10px auto; /* موازنة الصورة في المنتصف */
    display: block;
    flex-grow: 5;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* الأزرار في أسفل النافذة */
.confirmation-buttons {
    display: flex;
    justify-content: space-around;
    gap: 13px;
    margin-top: auto; /* لجعل الأزرار في الأسفل */
    padding: 10px 0; /* إضافة مسافة للأزرار من الأسفل */
}

.confirmation-buttons .game-button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #343434; 
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.confirmation-buttons game-button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}
 

.notification {
    position: fixed;
    top: -100px; /* البداية من فوق الشاشة */
    left: 50%;
    transform: translateX(-50%);
    background: #1c1c1c;
    color: #fff;
    padding: 10px 20px; /* زيادة padding لجعل الإشعار طويل */
    border-radius: 5px;
    border: 1px solid #343434;
    font-size: 15px;
    z-index: 1000;
    transition: top 0.5s ease, opacity 0.5s ease; /* انتقال لعناصر الظهور والانزلاق */
    opacity: 0; /* البداية غير مرئية */
    width: 300px; /* عرض ثابت للإشعار */
    max-width: 88%; /* الحد الأقصى لعرض الإشعار بنسبة 90% من الشاشة */
    text-align: center; /* محاذاة النص إلى المنتصف */
}
 
.notification.show {
    top: 14px; /* موقع الإشعار عند الظهور */
    opacity: 1; /* مرئية */
}

.notification-image {
    width: 25px;
    height: 25px;
    margin-right: 10px; /* مسافة بين الصورة والنص */
    vertical-align: middle; /* لضمان محاذاة الصورة مع النص */
    display: inline;
}
 

.level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* تمركز العناصر في منتصف الشاشة */
    width: 100%;
    padding: 0;
    margin-bottom: 100px; 
}

.current-level-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
} 

.level-item {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* محاذاة العناصر نحو اليسار */
    margin: 10px 0;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    border-radius: 10px;
    max-width: 400px;
    width: 88%;
    height: 50px;
    text-align: left;
    border: 1px solid #343434;
}

.level-image {
    width: 35px; /* حجم ثابت للصورة */
    height: 35px; /* حجم ثابت للصورة */
    margin-right: 10px; /* مسافة بين الصورة والنص */
    object-fit: contain; /* لضمان تناسب الصورة مع الحاوية */
    flex-shrink: 0; /* لضمان عدم تقلص الصورة */
}

/*.level-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 5px; 
    font-size: 15px;
}*/

.level-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
} 


.level-text p {
    margin: 0; /* إزالة المسافات بين الفقرات */
}

 .levels-image {
    width: 150px; /* حجم ثابت للصورة */
    height: auto;
    display: block;
    margin: 0 auto;
     
} 

.level-phase {
    text-align: left;
    font-weight: bold;
    padding-left: 20px; 
} 

.level-namee {
    text-align: left;
    font-weight: bold;
    padding-left: 20px; 
}
 
.level-name {
    text-align: center;
    font-weight: bold;
  /*  padding-left: 20px; */
}

.coin-name {
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
} 


.wallet-image {
    width: 140px;
    height: auto;
    display: block;
    margin: 0 auto;
} 

.wallet-icon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.wallet-button img {
    vertical-align: middle;
}  

.wallet-button {
    position: fixed;
    top: 13px; 
    right: 57px;
    /*left: 265px;*/
    border: 1px solid #343434;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15%; /* لجعل الزر دائري */
    padding: 4px; /* مساحة إضافية حول الصورة */
}

.wallet-button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}

.level-button-floating {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px; 
    top: 160px; 
   /* left: 68px; */
    background-color: transparent;
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
   -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    font-size: 19px;
    font-weight: bold;
    border-radius: 20px;
   /* border-bottom: 2px solid #343434;*/
    cursor: pointer;
    z-index: 100;  
   /* border-left: 2px solid #fff;
    border-right: 2px solid #fff;*/

}  

.level-button-floating:hover {
    background: transparent;
}

.levels-icon {
    width: 34px; 
    height: 34px;
}
  
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*.level-image {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}*/

#l, #t, #info, #lev, #i {
    color: #aaaaaa; 
    font-size: 17px; 
    margin: 10px 0;
    text-align: center;
 }

.levels-info p#l {
    margin-top: 110px; /* يمكنك ضبط القيمة حسب المسافة المطلوبة */
}

/*.boosts-button {
    position: fixed;
    top: 15px; 
    right: 70px;
    background: rgba(0, 0, 0, 0); 
    border-radius: 20px;
    border: 2px solid #343434;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    background: linear-gradient(90deg, #fff, #343434);
    background: linear-gradient(90deg, #d69a1c, #794106, #d69a1c, #9f620c);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    z-index: 9999;  
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}*/

#task, #Gem {
    color: #aaaaaa; /* لون النص */
    font-size: 20px; /* حجم الخط */
    margin-top: 5px; /* إزالة المسافة من الأعلى */
    margin-bottom: 10px;
    text-align: center;
}

 #w {
    color: #aaaaaa; /* لون النص */
    font-size: 18px; /* حجم الخط */
    margin-top: 0; /* إزالة المسافة من الأعلى */
    margin-bottom: 0; 
    text-align: center;
 }

.app-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    position: absolute; 
    top: 13px; 
    left: 15px;
    background-color: rgba(255, 255, 255, 0.05);
   /* background: linear-gradient(90deg, #343434, #1a1a1a);*/
    width: 35%;
    height: 35px;
    border: 1px solid #343434;
    border-radius: 9px; /* حواف دائرية للخلفية */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* ظل */
    padding-left: 13px;
}

.app-logo {
    width: 24px;
    height: 24px;
    margin-right: 5px; 
}

.app-name {
    font-size: 16px;
    font-weight: bold;
    color: #fff; 
}
 

.invite-rewards {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 320px;
    padding-bottom: 5px;
}

.reward {
    width: 88%;
    max-width: 300px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #343434;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    border-radius: 10px;
    text-align: center;
}

.invite-text {
    font-size: 14px;
    color: #fff;
    display: block;
    margin-bottom: 4px;
}

.coin-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin-image {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.coin-text {
    font-size: 16px;
    color: #aaaaaa;
}

.wallet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

#ton-connect {
    display: flex;
    align-items: center;
    justify-content: center;
/*   width: 88% !important;
    height: 50px !important;*/
}

.wallet-box {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    border: 1px solid #343434; /* حد للخانة */
    border-radius: 10px; /* تدوير الحواف */
    padding: 8px; /* حشوة داخلية لزيادة المسافة حول النص والزر */
    display: flex;
    flex-direction: column;
    align-items: center; /* لتوسيط المحتوى داخل الخانة */
    width: 88%; /* تحديد العرض حسب الحاجة */
    text-align: left;
}

.wallet-box p {
    margin-bottom: 10px; /* المسافة بين النص والزر */
} 

/* تنسيق معلومات المستوى الحالي */
#currentLevelInfo {
    font-size: 18px; /* حجم الخط */
    font-weight: bold; /* جعل النص عريضًا */
    color: #ffffff; /* اللون الأبيض للنص */
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px; /* حواف مستديرة */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف حول النص */
    text-align: center; /* محاذاة النص في الوسط */
    margin-top: 20px; /* إضافة مسافة من الأعلى */
    margin-bottom: 20px; /* إضافة مسافة من الأسفل */
    padding-top: 10px; /* إضافة مسافة داخلية من الأعلى */
    padding-bottom: 10px; 
    width: 88%; /* عرض النص بنسبة 90% من عرض الحاوية */
    max-width: 400px; /* تحديد أقصى عرض للنص */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* إضافة تأثيرات انتقال عند التفاعل */
    margin-left: auto; /* محاذاة النص إلى اليسار */
    margin-right: auto; /* محاذاة النص إلى اليمين */
}

/* تأثير عند المرور فوق النص */
#currentLevelInfo:hover {
    transform: scale(1.05); /* تكبير النص عند المرور عليه */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* زيادة الظل عند المرور */
}

/* تنسيق رقم المستوى داخل النص */
#displayedLevel {
    font-size: 20px; /* زيادة حجم الرقم */
    font-weight: bold; /* جعل الرقم عريضًا */
    color: #343434; /* لون داكن للرقم */
    background-color: #fff; /* خلفية بيضاء للرقم */
    padding: 5px 10px; /* إضافة مسافة حول الرقم */
    border-radius: 50%; /* جعل الرقم داخل دائرة */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف حول الرقم */
}


.level-item.current-level {
    border: 2px solid silver; 
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff; 
    font-weight: bold; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); /* إضافة توهج */
}

#currentLevelImage {
    width: 30px; /* عرض الصورة بوضعها الطبيعي أو ما يتناسب مع حجم الزر */
    height: 30px; /* ارتفاع الصورة */
    object-fit: contain; /* لضبط الصورة بحيث لا تتشوه */
}


#level1 .level-name, 
#level2 .level-name, 
#level3 .level-name {
    background-color: transparent;
    background: linear-gradient(90deg, #c0c0c0, #87CEFA, #dcdcdc, #4682B4);
    
   /* background: linear-gradient(90deg, #c0c0c0, #dcdcdc, #e5e4e2, #f5f5f5);*/
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}

#level4 .level-name, 
#level5 .level-name, 
#level6 .level-name {
    background-color: transparent;
    background: linear-gradient(90deg, #d69a1c, #794106, #9f620c, #d69a1c);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}


#level7 .level-name, 
#level8 .level-name, 
#level9 .level-name, 
#level10 .level-name {
    background-color: transparent;
    background: linear-gradient(90deg, #6a0dad, #483d8b, #4169e1, #87cefa);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}

.tasks {
    max-height: 290px; /* تحديد ارتفاع ثابت للحاوية الداخلية */
    width: 88%; /* عرض الحاوية الداخلية كاملاً */
    overflow-y: auto; /* تمكين التمرير العمودي */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    padding: 15px;
    border: 2px solid #343434;
    border-radius: 10px;
} 
/* تدرجات اللون للمستويات من 1 إلى 3 */
.level-gradient-green {
    background-color: transparent;
    background: linear-gradient(90deg, #c0c0c0, #87CEFA, #dcdcdc, #4682B4);
    
  /*  background: linear-gradient(90deg, #c0c0c0, #dcdcdc, #e5e4e2, #f5f5f5);*/
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* تدرجات اللون للمستويات من 4 إلى 6 */
.level-gradient-brown {
    background-color: transparent;
    background: linear-gradient(90deg,  #d69a1c, #794106, #9f620c, #d69a1c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* تدرجات اللون للمستويات من 7 إلى 10 */
.level-gradient-blue {
    background-color: transparent;
    background: linear-gradient(90deg, #6a0dad, #483d8b, #4169e1, #87cefa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#tasksBalanceDisplay, #levelBalanceDisplay, #gameBalanceDisplay,
#walletBalanceDisplay, #puzzlesBalanceDisplay, #boostsBalanceDisplay, #AccountBalanceDisplay {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 5px; /* مسافة داخلية */
    font-size: 16px; /* حجم الخط */
    display: flex;
    align-items: center; /* لضبط المحاذاة الرأسية */
    border-radius: 10px; /* زوايا دائرية */
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff; /* لون النص */
    transition: padding 0.2s ease; /* تأثير بسيط عند التمدد */
    min-width: 50px; /* عرض أدنى للعنصر */
    white-space: nowrap; /* لمنع النص من الانتقال إلى سطر جديد */
}


#tasksBalanceDisplay::before, #levelBalanceDisplay::before, #gameBalanceDisplay::before,
#walletBalanceDisplay::before, #puzzlesBalanceDisplay::before, #boostsBalanceDisplay::before, #AccountBalanceDisplay::before {
    content: "";
    display: inline-block;
    width: 26px; /* عرض الصورة مطابق لحجم النص */
    height: 26px; /* ارتفاع الصورة مطابق لحجم النص */
    background-image: url('i/coii.png'); /* رابط الصورة */
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px; /* مسافة بين الصورة والنص */
    vertical-align: middle; /* محاذاة الصورة مع النص */
}

#energyInfo .icon-energy {
    width: 25px !important;
    height: 25px !important;
    vertical-align: middle !important;
    margin-left: 5px !important;
    display: inline-block !important;
}

#hourlyEarnings {
    position: fixed;
    top: 35px; 
    left: 15px;
    font-size: 17px;
    color: #fff;
    /*left: 265px;*/
   /* background-color: rgba(255, 255, 255, 0.05);*/
    border-radius: 10px; /* لجعل الزر دائري */
    padding: 8px; /* مساحة إضافية حول الصورة */
}

