:root {
    --primary-color: #000;
    --secondary-color: #ff00f0;
    --background-color-dark: #1c1c1c;
    --text-color-dark: #fff;
    --text-color-light: #fff;
    --button-bg: #003366;
    --button-text-color: #fff;
    --accent-color: #003366;
    --hover-color: #0085ff;
    --boost-item-bg: #fff;
    --task-item-bg: #f0f0f0;
    --claimed-bg: #00ffea;
    --claimed-text-color: #000;
    --task-font-size: 14px;
    --boost-font-size: 14px;
    --claim-button-size: 12px;
    --small-text-size: 12px;
}

/* إزالة تأثير التركيز */
button, input, select, textarea, img, a {
    outline: none;
    box-shadow: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}


body {
    margin: 0;
    font-family: 'Rubik',sans-serif ;
    font-weight: 700;
   /* font-family: 'Raleway', sans-serif;
    font-style: normal;*/
   /* font-style: italic;*/
    background-color: #101010;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s, color 0.5s;
}


/*.container {
    width: 100%;
    max-width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-image: 
    radial-gradient(circle at 24% 23%, rgba(167, 167, 167,0.06) 0%, rgba(167, 167, 167,0.06) 25%,rgba(148, 148, 148,0.06) 25%, rgba(148, 148, 148,0.06) 50%,rgba(129, 129, 129,0.06) 50%, rgba(129, 129, 129,0.06) 75%,rgba(110, 110, 110,0.06) 75%, rgba(110, 110, 110,0.06) 100%),
    radial-gradient(circle at 58% 30%, rgba(14, 14, 14,0.06) 0%, rgba(14, 14, 14,0.06) 25%,rgba(60, 60, 60,0.06) 25%, rgba(60, 60, 60,0.06) 50%,rgba(107, 107, 107,0.06) 50%, rgba(107, 107, 107,0.06) 75%,rgba(153, 153, 153,0.06) 75%, rgba(153, 153, 153,0.06) 100%),
    radial-gradient(circle at 79% 53%, rgba(225, 225, 225,0.06) 0%, rgba(225, 225, 225,0.06) 25%,rgba(189, 189, 189,0.06) 25%, rgba(189, 189, 189,0.06) 50%,rgba(152, 152, 152,0.06) 50%, rgba(152, 152, 152,0.06) 75%,rgba(116, 116, 116,0.06) 75%, rgba(116, 116, 116,0.06) 100%),
    linear-gradient(221deg, #000000, rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0; 
    border-top-right-radius: 0; 
}*/


.container {
    width: 100%;
    max-width: 450px;
    height: 100%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 25px 25px 0 0;
    background-image: 
    radial-gradient(circle at 24% 23%, rgba(167, 167, 167,0.06) 0%, rgba(167, 167, 167,0.06) 25%,rgba(148, 148, 148,0.06) 25%, rgba(148, 148, 148,0.06) 50%,rgba(129, 129, 129,0.06) 50%, rgba(129, 129, 129,0.06) 75%,rgba(110, 110, 110,0.06) 75%, rgba(110, 110, 110,0.06) 100%),
    radial-gradient(circle at 58% 30%, rgba(14, 14, 14,0.06) 0%, rgba(14, 14, 14,0.06) 25%,rgba(60, 60, 60,0.06) 25%, rgba(60, 60, 60,0.06) 50%,rgba(107, 107, 107,0.06) 50%, rgba(107, 107, 107,0.06) 75%,rgba(153, 153, 153,0.06) 75%, rgba(153, 153, 153,0.06) 100%),
    radial-gradient(circle at 79% 53%, rgba(225, 225, 225,0.06) 0%, rgba(225, 225, 225,0.06) 25%,rgba(189, 189, 189,0.06) 25%, rgba(189, 189, 189,0.06) 50%,rgba(152, 152, 152,0.06) 50%, rgba(152, 152, 152,0.06) 75%,rgba(116, 116, 116,0.06) 75%, rgba(116, 116, 116,0.06) 100%),
    linear-gradient(221deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
    background-size: cover;
    background-position: center;
   /* border-top-left-radius: 20px; 
    border-top-right-radius: 20px; */
}
 
 

 @media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}


/* منع تحديد النص */
* {
    user-select: none;
    -webkit-user-select: none; /* لأجهزة iOS */
    -ms-user-select: none; /* لمتصفحات إنترنت إكسبلورر */
}

/* منع سحب الصور */
img {
    pointer-events: none;
}


.line {
    position: relative;
    top: -20px; /* تعديل هذا الرقم لتحريك الخط لأعلى أو أسفل حسب الحاجة */
    left: 50%;
    width: 80%; /* عرض الخط */
    height: 5px; /* سمك الخط */
    background-color: #000; /* لون الخط */
    border-radius: 10px; /* لجعل الحواف دائرية */
    transform: translateX(-50%); /* لتوسيع الخط أفقياً */
}
 
.hidden {
  display: none;
}
 
.screen-content {
    flex: 1;
    display: none;
    padding: 10px;
    position: relative;
    background: inherit;
    overflow: hidden;
}

.screen-content.scrollable {
    overflow-y: auto;
}

.screen-content.active {
    display: block;
}

.splash-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #101010;
    background-size: cover;
    background-position: center;
    position: absolute;
} 

.splash-title {
    top: 80%; 
    font-size: 40px;
    font-weight: 900;
    font-family: 'JetBrains Mono', monospace;
}

.splash-subtitle {
    font-size: 20px;
}

.splash-loading img {
    top: 30%; 
    width: 200px;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
}

.loading-spinnerr {
    border: 7px solid rgba(255, 255, 255, 0.3); /* الحواف الشفافة */
    border-top: 7px solid #fff; /* اللون الأبيض في الجزء العلوي */
    border-radius: 50%; /* جعل الشكل دائريًا */
    width: 55px;
    height: 55px;
    animation: spin 2s linear infinite; /* التحريك المستمر */
}

/* حركة التدوير */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}  
 
 
/* شريط الطاقة */
.energy-bars-container {
    width: 100px; /* عرض الشريط */
    height: 13px; /* ارتفاع الشريط */
    border: 3px solid #fff; /* الخط المحيط بالشريط */
    border-radius: 15px; /* زوايا منحنية */
    overflow: hidden; /* إخفاء الأجزاء التي تخرج عن الحدود */
    position: relative; /* لجعل الحشو داخل الشريط */
    margin: 20px auto; /* لتوسيط شريط الطاقة */
}

.energy-bar-s {
    height: 100%; /* ليملأ ارتفاع الحاوية بالكامل */
    width: 0%; /* العرض يبدأ من 0% */
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c); /* التدرج اللوني */
    position: absolute; /* لجعل التحرك ضمن الشريط فقط */
    animation: moveEnergy 2s linear infinite; /* الحركة المتكررة للطاقة */
}

@keyframes moveEnergy {
    0% {
        width: 0%;
        left: 0;
    }
    50% {
        width: 100%; /* تملأ الشريط */
        left: 0;
    }
    100% {
        width: 0%;
        left: 100%; /* تتحرك للخروج من الشريط */
    }
}


 .game-title {
    font-size: 20px;
    color: #fff;
}  

.balance-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

#balanceC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 70px;
}

.Title {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 15px;
    font-weight: 500; 
    padding-bottom: 1px;
    color: #808080;
}

#balanceAmount {
    display: flex;
    align-items: center; /* محاذاة الصورة والنص في نفس الخط */
    justify-content: center;
    color: #fff;
    font-weight: 400; 
    font-style: normal;
    font-family: 'Archivo Black', sans-serif; /* خط عريض ومميز للأرقام */
    gap: 1px; /* مسافة بين الصورة والرقم */
    position: relative;
    animation: popIn 0.4s ease forwards;
}

#balanceAmount::before {
    content: "";
    display: inline-block;
    width: 50px; /* عرض الصورة */
    height: 50px; /* ارتفاع الصورة */
    background-image: url('i/coins.png'); /* رابط الصورة */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* تمركز الصورة */
    margin-right: 0; /* مسافة بين الصورة والرقم */
    vertical-align: middle; /* محاذاة الصورة للوسط */
}

.main-digits {
    font-size: 36px; 
    color: #fff;
    line-height: 1; /* لضمان التناسق بين النصوص */
} 

.remaining-digits {
    font-size: 36px; /* باقي الأرقام بنفس الحجم */
    color: #fff;
    line-height: 1; /* لتقليل الفراغ بين النصوص */
}


.energy-bar-container {
    display: flex;
    justify-content: center; /* توزيع المحتوى بشكل متساوٍ */
    align-items: center; /* محاذاة المحتوى عموديًا */
    position: absolute; /* تموضع مطلق */
    bottom: 150px; /* المسافة من أسفل الشاشة */
    left: 50%; /* المنتصف أفقيًا */
    transform: translateX(-50%); /* تحريك الحاوية إلى المنتصف أفقيًا */
    width: 80%; 
    margin: 0 auto; 
    transition: width 0.3s ease-in-out; /* تأثير التمدد بسلاسة */
   /* gap: 10px;*/
}

.progress-bar {
    width: 70%; 
    height: 10px; 
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    border-radius: 50px; /* شكل الشريط */
    overflow: hidden; /* قص المحتوى الزائد */
    display: flex; /* جعل العناصر ترتب بشكل أفقي */
    align-items: center; /* محاذاة الأيقونة والمحتويات الأخرى */
    z-index: 9;
}

.progress-bar::before,
.progress-bar::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: 
        radial-gradient(circle, #ffffff 1px, transparent 1px),
        radial-gradient(circle, #ffffff 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    animation: moveElectricity 4s linear infinite;
    opacity: 0.3;
    pointer-events: none;
}

.progress-bar::after {
    animation-duration: 6s;
    animation-direction: reverse;
    opacity: 0.2;
}

@keyframes moveElectricity {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-20px, -20px);
    }
}

 
.energy-icon {
    font-size: 1.4rem; /* حجم الأيقونة */
    color: #F7F9FB; /* لون ذهبي */
    position: absolute; /* جعل الأيقونة فوق الشريط */
    left: 50px; /* الموقع الأفقي للزائد الأيقونة */
    z-index: 10;
}

.progress-bar-inner {
    height: 100%; 
    width: 100%; 
    background: linear-gradient(90deg, #4375ca, #2D83EC);
    transition: width 0.5s ease;
} 

#energyInfo {
    background-color: transparent;
    background: #fff;
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px; /* حجم الخط */
    text-align: left; /* المحاذاة لليسار */
    margin-left: 4px;
    margin-right: 4px;
    direction: rtl; /* الحفاظ على الاتجاه من اليمين لليسار */
    white-space: nowrap;
}
 
 #maxEnergy {
   font-size: 15px;  
   white-space: nowrap;
   color: #1a1a1a;
} 

     
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(95% - 69px);
    overflow-y: auto; 
}

.clickable-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0; 
    margin-bottom: 60px;
    flex: 1;
    animation: popIn 0.4s ease forwards;
} 
 
.clickable-image img {
    width: 290px;
    height: 290px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
    pointer-events: auto;
    border-radius: 15px;
}

.diamond-text {
    position: absolute;
    color: #fff; /* لون النص */
    font-size: 30px; /* حجم النص */
    pointer-events: none; /* تعطيل التفاعل */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* إضافة ظل للنص */
    z-index: 1000;
    animation: fade-out-move 0.8s ease-out; /* استخدام الرسوم المتحركة */
}

@keyframes fade-out-move {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-120px); /* تحريك النص للأعلى أثناء الاختفاء */
    }
}
 
 
.menu {
    border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(16, 16, 16, 0.9); 
   /* background-color: #101010;*/
    position: fixed;
    bottom: 8px;
    border-radius: 20px;
    width: 88%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    transition: box-shadow 0.3s ease; /* إضافة انتقال سلس للتأثير */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
} 

.menu button {
    color: #808080;
    padding: 4px;
    box-sizing: border-box; 
    font-size: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    background: none;
    margin: 2px;
    font-weight: 600;
    margin-bottom: 5px;
}

.menu button.active {
    color: #fff; /* اللون الأبيض للنص عند النشاط */
    background: none; 
}

.menu button i {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.menu button.active i {
    font-size: 1.2rem;
    margin-bottom: 5px;
    background: linear-gradient(to right, #2D83EC, #4375ca, #0088CC);
    -webkit-background-clip: text; /* تطبيق التدرج على النص */
    -webkit-text-fill-color: transparent; /* جعل النص شفافًا ليظهر التدرج */
}

.menu button.active img {
    position: relative;
    z-index: 2; /* وضع الصورة فوق الخلفية */
} 

.menu button:hover::before {
    opacity: 1;  /* جعل الخط مرئي عند التمرير أو عندما يكون الزر نشطًا */
}
 
.menu-img {
    width: 33px;
    height: 33px;
    margin-bottom: 3px;
    background: transparent; 
}

.menu svg {
    width: 23px;
    height: 23px;
    margin-bottom: 3px;
    background: transparent;
} 


.confirmation-modal, .modal-content {
    background-color: #101010;
    padding: 20px;
    font-weight: 500;
    border-radius: 20px 20px 0 0; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%); /* بداية من أسفل الشاشة */
    width: 85%;
    height: 44vh;
    z-index: 10000;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
    animation: slideUp 0.5s ease-out forwards; /* إضافة تأثير التحريك */
}

.game-button:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.promo-content {
    background-color: #101010; 
    padding: 20px;
    border-radius: 20px 20px 0 0; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%); /* بداية من أسفل الشاشة */
    width: 85%;
    height: 35vh;
    z-index: 10000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slideUp 0.5s ease-out forwards; /* إضافة تأثير التحريك */
} 

/* تأثير التحريك من الأسفل */
@keyframes slideUp {
    0% {
        transform: translateX(-50%) translateY(100%);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

#upgradeText {
    color: #fff; 
    font-size: 17px; 
    margin-bottom: 100px;
    text-align: center;
}
 


.game-button {
    border-radius: 20px;
    width: 100%; /* التأكد من أن الأزرار تأخذ عرض الحاوية */
    height: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 10px 0; /* المسافة بين الأزرار */
}


#closePopupButton, #closeAutoclick {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.modal-image img {
    width: 120px; /* حجم الصورة */
    height: 120px;
    margin: 10px auto; /* موازنة الصورة في المنتصف */
    display: block;
    flex-grow: 5;
}

/*.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    width: 10px; 
    height: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px); 
    border-radius: 50%;
    color: white;
    cursor: pointer;
}*/

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    width: 30px; /* تحديد عرض ثابت */
    height: 30px; /* نفس القيمة مثل العرض */
    padding: 0; /* لضبط المساحة الداخلية */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px); 
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; /* لمحاذاة النص أو الرمز */
}  

/* تصميم الإشعار */
.notification {
    position: fixed;
    top: -70px; /* البداية من فوق الشاشة */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(9px); 
    color: #fff;
    padding: 12px 20px; /* زيادة padding لجعل الإشعار طويل */
    border-radius: 15px;
    border: 1px solid #1a1a1a;
    font-size: 13px;
    z-index: 1000;
    opacity: 0; /* البداية غير مرئية */
    width: 280px; /* عرض ثابت للإشعار */
    max-width: 82%; /* الحد الأقصى لعرض الإشعار بنسبة 90% من الشاشة */
    text-align: left; /* محاذاة النص إلى المنتصف */
    transition: opacity 0.5s ease, top 0.5s ease;
}

/* عند تفعيل الإشعار */
.notification.show {
    animation: slideDown 0.5s ease-out forwards;
    opacity: 1; /* مرئية */
}

/* تأثير التحريك من الأعلى */
@keyframes slideDown {
    0% {
        top: -100px; /* بداية الإشعار من فوق الشاشة */
        opacity: 0;
    }
    100% {
        top: 14px; /* موقع الإشعار عند الظهور */
        opacity: 1; /* مرئية */
    }
}



.notification-image {
    width: 25px;
    height: 25px;
    margin-right: 5px; /* مسافة بين الصورة والنص */
    vertical-align: middle; /* لضمان محاذاة الصورة مع النص */
    display: inline;
}
 
/*.level-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 5px; 
    font-size: 15px;
}*/


/*.level-image {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}*/

#l, #info, #lev, #i {
    color: #808080; 
    font-size: 17px; 
    margin: 10px 0;
    text-align: center;
 }

#Daily-earning {
    color: #808080; 
    font-size: 15px; 
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 20px;
}

#t {
    z-index: 100;
    color: #808080; 
    font-size: 15px; 
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 18px;
}

#puzzlessText {
    color: #808080; 
    font-size: 15px; 
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 20px;
}

.levels-info p#l {
    margin-top: 110px; /* يمكنك ضبط القيمة حسب المسافة المطلوبة */
}

/*.boosts-button {
    position: fixed;
    top: 15px; 
    right: 70px;
    background: rgba(0, 0, 0, 0); 
    border-radius: 20px;
    border: 2px solid #343434;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    background: linear-gradient(90deg, #fff, #343434);
    background: linear-gradient(90deg, #d69a1c, #794106, #d69a1c, #9f620c);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    z-index: 9999;  
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}*/

#Gem {
    color: #808080; /* لون النص */
    font-size: 15px; /* حجم الخط */
    margin-top: 5px; /* إزالة المسافة من الأعلى */
    margin-bottom: 10px;
    text-align: center;
}

#task {
    color: #fff; /* لون النص */
    font-size: 15px; /* حجم الخط */
    margin-top: 5px; /* إزالة المسافة من الأعلى */
    margin-bottom: 10px;
    text-align: center;
}

 #w {
    color: #808080; /* لون النص */
    font-size: 18px; /* حجم الخط */
    margin-top: 0; /* إزالة المسافة من الأعلى */
    margin-bottom: 0; 
    text-align: center;
 }

.app-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    position: absolute; 
    top: 13px; 
    left: 15px;
    background-color: rgba(255, 255, 255, 0.05);
   /* background: linear-gradient(90deg, #343434, #1a1a1a);*/
    width: 35%;
    height: 35px;
    border: 1px solid #343434;
    border-radius: 9px; /* حواف دائرية للخلفية */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* ظل */
    padding-left: 13px;
}

.app-logo {
    width: 24px;
    height: 24px;
    margin-right: 5px; 
}

.app-name {
    font-size: 16px;
    font-weight: bold;
    color: #fff; 
}
 

.invite-rewards {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    /*border-radius: 10px;*/
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 320px;
    padding-bottom: 5px;
}

.reward {
    width: 88%;
    max-width: 300px;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 0.50px solid #343434;
    text-align: left;
}

.invite-text {
    font-size: 14px;
    color: #fff;
    display: block;
    margin-bottom: 4px;
}

.coin-info {
    display: flex;
    justify-content: column;
    align-items: center;
}


.coin-text {
    font-size: 12px;
    color: #808080;
    text-align: left;
    margin-left: 20px;
 } 

/*#miningnavbarBalanceDisplay, #BoostnavbarBalanceDisplay, #tasknavbarBalanceDisplay, #navbarBalanceDisplay,
#lvlnavbarBalanceDisplay, #puzzlenavbarBalanceDisplay, #AccountnavbarBalanceDisplay {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 8px; 
    font-size: 16px; 
    display: flex;
    align-items: center; 
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff; 
    transition: padding 0.2s ease; 
    min-width: 50px; 
    white-space: nowrap; 
    border: 0.50px solid #343434;
}*/

#gnavbarBalanceDisplay::before,  
#navbarBalanceDisplay::before,  
#AccountnavbarBalanceDisplay::before, 
#tasknavbarBalanceDisplay::before, 
#puzzlenavbarBalanceDisplay::before,
#BoostnavbarBalanceDisplay::before, 
#lvlnavbarBalanceDisplay::before, 
#miningnavbarBalanceDisplay::before {
    content: ""; /* لا نحتاج نصًا هنا */
    display: inline-block;
    width: 26px; /* تحديد عرض الصورة */
    height: 26px; /* تحديد ارتفاع الصورة */
    background-image: url('i/coins.png'); /* مسار الصورة */
    background-size: cover; /* لتغطية العنصر بالصورة بشكل جيد */
    margin-right: 1px; /* مسافة بين الصورة والنص */
    vertical-align: middle; /* لضبط المحاذاة العمودية */
}

/*#hourlyEarningsContainer {
    position: fixed;
    top: 12px;
    left: 130px; 
    width: 25%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #101010;
    padding: 5px;
    border-radius: 25px;
    color: #fff;
    z-index: 10; 
    transform: translateY(-1px); 
}*/

#hourlyEarningsContainer {
    position: absolute;
    top: 12px;
    left: 17px; 
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #101010;*/
    padding: 5px;
  /*  border-radius: 25px;*/
    color: #fff;
    z-index: 10; 
    transform: translateY(-1px); 
}


.user-svg {
    width: 25px; 
    height: 25px;
}

.icon-wallet {
    width: 26px; 
    height: 26px;
    color: #fff;
}  

.games-icon {
    width: 25px; 
    height: 25px;
    margin-right: 6px; 
} 

.right-section {
    position: absolute;
    top: 61px; 
    right: 17px; 
    width: auto;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #101010; 
    padding: 5px;
    border-radius: 20px;
    color: #fff;
    border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
    z-index: 10; /* لجعله فوق العناصر الأخرى */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
} 


.separators {
    width: 0.50px;
    height: 20px;
    background-color: #808080;
    margin: 0 10px;
}


#hourlyEarnings {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.coin-hour-icon {
    width: 15px;
    height: 15px;
    margin-right: 3px; /* للتحكم بالمسافة بين الصورة والعدد */
    border-radius: 50%;
    vertical-align: middle;
}

#currentLevelCoins {
    font-size: 10px;
    white-space: nowrap;
    margin-bottom: 5px;
    color: #808080;
}

#levelEnergyBar {
    width: 75%;
    height: 7px;
    background-color: #161616;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
}

#levelEnergyFill {
    height: 100%;
    width: 0;
    background-color: #000;
    border-radius: 5px;
}

.left-section {
    top: 5px; 
    display: flex; /* ترتيب العناصر */
    flex-direction: column; /* وضع العناصر فوق بعضها */
    align-items: center; /* توسيط النصوص أفقيًا */
    margin: 0; /* إزالة أي تباعد خارجي */
    gap: 0; /* إزالة المسافة بين النصوص */
    padding: 0; /* إزالة أي حشوات */
    height: 100%; /* ضمان الامتداد داخل الحاوية */
    justify-content: center; /* ضمان توسيط المحتوى عموديًا */
    position: relative; 
}

#earningsLabel {
    font-size: 10px;
    margin: 0; /* إزالة أي هوامش */
    padding: 0; /* إزالة الحشوات */
    line-height: 1; /* تقليل المسافة بين الأسطر */
    color: #808080;
}

#earningsText {
    font-size: 10px;
    margin: 0; /* إزالة أي هوامش */
    padding: 0; /* إزالة الحشوات */
    line-height: 1; /* تقليل المسافة بين الأسطر */
}
 
.Profit {
    bottom: 10px; 
    display: flex; /* ترتيب العناصر */
    flex-direction: column; /* وضع العناصر فوق بعضها */
    align-items: center; /* توسيط النصوص أفقيًا */
    margin: 0; /* إزالة أي تباعد خارجي */
    gap: 0; /* إزالة المسافة بين النصوص */
    padding: 0; /* إزالة أي حشوات */
    height: 100%; /* ضمان الامتداد داخل الحاوية */
    justify-content: center; /* ضمان توسيط المحتوى عموديًا */
    position: relative; 
}

#welcomeMessage {
    position: absolute;
    top: 11px;
    left: 45px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px; /* مسافة بين النصوص */
}

#welcomeText {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

#userName {
    font-size: 15px;
    color: #fff; /* لون أفتح قليلاً لتمييز الاسم */
    margin-right: 10px;
    animation: popIn 0.4s ease forwards;
}

.user-details-i {
    position: absolute; /* تحديد الموقع بالنسبة للشاشة */
    top: 18px; /* المسافة من الأعلى */
    left: 24px; /* المسافة من اليسار */
    z-index: 100; /* لضمان الظهور فوق العناصر الأخرى */
    animation: popIn 0.4s ease forwards;
}

.userrr-image {
    width: 32px; /* عرض الصورة */
    height: 32px; /* ارتفاع الصورة */
    border-radius: 50%; /* جعل الصورة دائرية */
    object-fit: cover; /* تأكد من احتواء الصورة داخل الدائرة */
    border: 1px solid #161616; /* إضافة إطار أبيض حول الصورة */
}


.right-section { 
    font-size: 1rem;
    color:#2D83EC;
    margin-right: 1px;
}    
