.loading-spinner {
    border: 4px solid #ffffff;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    max-width: 320px;
    padding-bottom: 5px; 
} 

.task-item {
    width: 88%;
    max-width: 400px;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #343434; 
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex; 
    /*justify-content: center;*/
    align-items: center;
}

.task-item p {
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: left;
    color: #fff;
    font-size: 1rem;
    white-space: nowrap;
}

.task-img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 50%; 
    object-fit: cover; 
}

.task-item button {
    background-color: rgba(255, 255, 255, 0.001);
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    width: 35%;
    height: 30px;
    transition: background-color 0.3s;
    border: none;
    font-weight: bold;
    font-size: 15px;
   /* border: 1px solid #343434;*/
    z-index: 10;
}

/*.task-item button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}*/

.task-button:disabled {
    background-color: none;
    cursor: not-allowed;
} 

.task-item button.inactive {
    background-color: #9f0000;
}

.task-item button.claimed {
    background-color: #000;
    color: #fff;
}
 
.task-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.task-reward-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.reward-coin-icon { /* اسم معرف الصورة الجديد */
    width: 18px;
    height: 18px;
    margin-right: 3px;
}
 
.task-reward {
    color: #aaa;
    font-size: 0.7rem;
    text-align: left;
}
