#robotContainer {
    display: flex;
    align-items: center; /* محاذاة العناصر رأسيًا */
    justify-content: space-between; /* توزيع المساحة بين العناصر */
    background: rgba(255, 255, 255, 0.1); /* خلفية شفافة */
    backdrop-filter: blur(5px); /* تمويه الخلفية */
    border-radius: 10px;
    border: 0.50px solid #343434;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 20px auto;
    width: 85%; /* العرض الكلي للحاوية */
    height: 60px;
}

#robotContainer img {
    margin-left: 1px;
    width: 40px;
    height: 40px; /* لتحديد أبعاد متساوية */
    border-radius: 10px; /* لإعطاء الصورة شكل دائري */
    object-fit: cover; /* التأكد من أن الصورة تناسب الإطار */
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.3), 0 0 9px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.3s ease;
}

#robotContainer .robot-left {
    text-align: center;
    flex: 1; /* السماح للنص والصورة بأخذ مساحة متساوية */
}

#robotContainer .robot-left h3 {
    font-size: 0.7em;
    margin-bottom: 5px;
}

#robotContainer .robot-right {
    flex: 2; /* إعطاء النصوص والأزرار مساحة أكبر */
    text-align: center;
}

#robotContainer .robot-right p {
    margin-left: 5px;
}

#robotContainer button {
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 7px 5px;
    border: 0.50px solid #343434;
    border-radius: 10px;
    font-size: 0.6em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#robotContainer button:hover {
    background-color: #fff;
    color: #000;
    transform: translateY(-3px);
}

#robotContainer button:disabled {
    background: #ccc;
    color: #fff;
    cursor: not-allowed;
}

#robotContainer #robotStatus {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 10px;
    color: #f0f0f0;
}

.robot-meta {
    font-size: 0.6em;
    color: #808080;
    text-align: center;
}


#text-robot {
    color: #fff; /* لون النص */
    font-size: 14px; /* حجم الخط */
    margin-bottom: 10px; /* إزالة المسافة من الأعلى */
    margin-top: 5px;
    text-align: center;
}
