#robotContainer {
    display: flex;
    align-items: center; /* محاذاة العناصر رأسيًا */
    justify-content: space-between; /* توزيع المساحة بين العناصر */
    background: linear-gradient(135deg, #000, #808080);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 20px auto;
    width: 80%; /* العرض الكلي للحاوية */
    height: 50px;
}

#robotContainer img {
    width: 40px;
    height: 40px; /* لتحديد أبعاد متساوية */
    border-radius: 10px; /* لإعطاء الصورة شكل دائري */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* لإضافة ظل للصورة */
    object-fit: cover; /* التأكد من أن الصورة تناسب الإطار */
    margin-bottom: 10px;
}

#robotContainer .robot-left {
    text-align: center;
    flex: 1; /* السماح للنص والصورة بأخذ مساحة متساوية */
}

#robotContainer .robot-left h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

#robotContainer .robot-left img {
    margin-top: 10px;
}

#robotContainer .robot-right {
    flex: 2; /* إعطاء النصوص والأزرار مساحة أكبر */
    text-align: right;
}

#robotContainer .robot-right p {
    margin: 5px 0;
}

#robotContainer button {
    background: #fff;
    color: #2575fc;
    border: none;
    padding: 4px 5px;
    border-radius: 10px;
    font-size: 0.9em;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

#robotContainer button:hover {
    background-color: #6a11cb;
    color: white;
    transform: translateY(-3px);
}

#robotContainer button:disabled {
    background: #ccc;
    color: #fff;
    cursor: not-allowed;
}

#robotContainer #robotStatus {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 10px;
    color: #f0f0f0;
}
