.coin-label {
    margin-left: 4px;  /* مسافة بين الرقم والنص */
    font-size: 14px;   /* حجم الخط */
    color: #808080;    /* لون النص */
}

.separatorr {
    width: 1px;
    height: 18px;
    background-color: #808080;
    margin: 0 10px;
}

.boos-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.boosts-button img {
    vertical-align: middle;
}  

.boosts-button {
   /* position: fixed;*/
    margin-right: 5px;
/*   padding: 4px 20px;
     bottom: 115px; 
     right: 20px;*/
    font-size: 15px;
    color: #fff;
    font-weight: bold;
   /* border: 1px solid #343434;*/
    background-color: rgba(255, 255, 255, 0.004);
    border-radius: 10px; 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    opacity: 0.7;
}

/*.boosts-button:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.3), 0 0 18px rgba(255, 255, 255, 0.2);
}*/
 

.bos-image {
    width: 105px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}  

#b {
    text-align: center; 
    font-size: 1em;
    margin-bottom: 20px
    color: #fff;
}


.boosts-container {
    display: grid;
    grid-template-columns: repeat(2, 44%); /* عرض كل عنصرين بجانب بعض */
    gap: 15px; /* المسافة بين العناصر */
    justify-content: center; /* محاذاة العناصر في المنتصف */
    margin-top: 10px;
}
    
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}*/

.boost-item {
    width: 89%; /* عرض الحاوية بنسبة 44% */
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.50px solid #343434;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    text-align: center;
    overflow: hidden;
}


   /* width: 90%;
    min-height: 120px;
    padding: 15px;
    margin: 10px 0;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #343434;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    text-align: center;
}*/



.boost-item p {
    margin: 5px 0;
    padding: 0;
    flex: none; /* تثبيت النص */
    color: #fff;
    line-height: 1.5;
    max-height: 40px; /* يمكنك تخصيص هذا الارتفاع بناءً على طول النصوص المتوقعة */
/*   overflow: hidden;*/ /* اخفاء النص الزائد */
    /*text-overflow: ellipsis;*/ /* إظهار ... في حالة النص الطويل */
}

.boost-item button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
    transition: background-color 0.3s;
    /*border: 1px solid #343434;*/
    margin-top: auto; /* يضمن بقاء الزر في أسفل الحاوية */
} 

.boost-item button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}

.boost-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}
 
.boost-icon:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3);
}
 
.coinBost-icon {
    width: 18px;  /* تحديد الحجم المناسب للصورة */
    height: auto;
    display: inline-block;  /* لعرض الصورة بجانب النص */
    vertical-align: middle;  /* لضبط المحاذاة بشكل جيد مع النص */
    margin-right: 2px;  /* لإضافة مسافة صغيرة بين الصورة والنص */
}


#energyBoostLevel,
#energyUpgradeCost,
#robotBoostLevel,
#RobotUpgradeCost,
#coinBoostLevel,
#coinUpgradeCost,
#clickMultiplier,
#boostUpgradeCost {
    font-size: 15px;
    color: #fff;
    opacity: 0.7;
}

