.badgee {
  position: absolute;
  top: 40px;
  left: 0; /* To position the badge at the left side */
  background: linear-gradient(45deg, #3b0a45, #2f4f4f, #000000);
  color: white;
  padding: 4px 80px;
  font-weight: bold;
  transform: rotate(-10deg); /* Make the badge slant */
  transform-origin: left top; /* Ensure rotation starts from the left top corner */
  text-transform: uppercase;
}


/* النصوص العامة */
.coin-label {
    margin-left: 4px; /* مسافة بين الرقم والنص */
    font-size: 14px; /* حجم الخط */
    color: #808080; /* لون النص */
}

.separatorrr{
    width: 0.50px;
    height: 20px;
    background-color: #808080;
    margin: 0 10px;
} 

.separatorr {
    width: 0.5px;
    height: 20px;
    background-color: #808080;
    margin: 0 10px;
}

/* أيقونات */
.boos-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.boosts-button img {
    vertical-align: middle;
}

/* أزرار */
.boosts-button {
    margin-right: 5px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.004);
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    opacity: 0.7;
}

.boost-item button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    width: 25%; /* عرض الزر */
    font-size: 12px;
    border: 0.5px solid #343434;
    text-align: center;
    transition: background-color 0.3s ease;
}

.boost-item button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}

/* الصورة المركزية */
.bos-image {
    width: 105px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* النصوص */
#b {
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
    color: #fff;
}

/* الحاوية الرئيسية */
.boosts-container {
    display: flex;
    flex-direction: column; /* ترتيب العناصر عموديًا */
    align-items: center; /* محاذاة الحاويات في المنتصف أفقيًا */
    justify-content: space-between; /* محاذاة العناصر في منتصف الصفحة */
    width: 100%; /* عرض الحاوية الرئيسية */
  /*  padding: 10px;*/
    margin-top: 10px;
}

/* العنصر الفردي */
.boost-item {
    display: flex;
    flex-direction: row; /* ترتيب المحتوى داخل العنصر أفقيًا */
    align-items: center; /* محاذاة المحتوى عموديًا */
    justify-content: space-between; /* توزيع العناصر بالتساوي */
    width: 90%; /* عرض العنصر */
    height: 75px;
    padding: 10px;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.1); /* خلفية شفافة */
    backdrop-filter: blur(5px); /* تمويه الخلفية */
    border-radius: 10px; /* زوايا مستديرة */
    border: 0.5px solid #343434; /* حدود العنصر */
    box-sizing: border-box; /* لحساب الحواف ضمن الأبعاد */
    overflow: hidden;
}

.boost-item p {
    margin: 0; /* إزالة المسافات بين النصوص */
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
} 

.boost-item img { 
    width: 50px;
    height: 50px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.boost-icon:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3);
}


.boost-meta {
    display: flex;
    flex-direction: row; /* ترتيب الليفيل والتكلفة أفقيًا */
    justify-content: space-between; /* توزيع العناصر بالتساوي */
    margin-top: 5px; /* مسافة صغيرة بين الوصف والليفيل/التكلفة */
    color: #808080;
    font-size: 0.5em; /* حجم النص أصغر قليلاً */
}

.boost-meta span {
    margin-right: 5px; /* مسافة صغيرة بين الليفيل والتكلفة */
} 
