.Invitations-image { 
    width: 150px;
    margin: 10px auto;
    height: auto;
    display: block;
}   

.invite {
    position: relative; /* يتيح التحكم بالموقع داخل الحاوية */
    margin-left: auto; /* يدفع العنصر إلى أقصى اليمين */
    margin-right: auto; /* يدفع العنصر إلى أقصى اليسار */
    width: 90%; /* لضبط العرض لتجنب حدود الشاشة */
    padding: 8px; 
   /* background: radial-gradient(circle at bottom right, 
  #2D83EC, 
  #2D83EC 5%, 
  #101010 80%);*/
    background-color: #101010;
    border-radius: 20px;
    border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
    margin-bottom: 5px;
    margin-top: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.invite-section {
    display: flex;
    justify-content: center; /* يضع الزرين في المنتصف أفقياً */
    gap: 10px; /* يضبط المسافة بين الزرين */
    position: relative; /* يتيح التحكم بالموقع داخل الحاوية */
    margin-left: auto; /* يدفع العنصر إلى أقصى اليمين */
    margin-right: auto; /* يدفع العنصر إلى أقصى اليسار */
    width: calc(100% - 40px); /* لضبط العرض لتجنب حدود الشاشة */
    padding: 10px; /* مساحة داخلية حول الأزرار */
    z-index: 100;
    margin-top: 10px;
}

.invite-image {
    width: 105px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
} 

.invite-icon {
    width: 25px;
    height: 25px;
    margin-right: 0; /* مسافة بين الصورة والنص */
    flex-shrink: 0;
}

.copy-icon {
    width: 25px;
    height: 25px;
    margin-right: 0; /* مسافة بين الصورة والنص */
    flex-shrink: 0;
} 

.invite-icon img, .copy-icon img {
    vertical-align: middle;
}
 

.friends-list {
    margin: 10px 0; /* يضبط الهامش العلوي والسفلي بـ 5px ويجعل العنصر في المنتصف أفقيًا */
    width: 88%; /* العرض المحدد للحاوية */
    height: auto;
    /*padding: 8px;*/
    list-style: none;
    color: #808080;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.0002);
    border-radius: 10px;
    display: block;
}

.friends-list li {
    margin-left: 10px;
}
 
.invite-more {
    display: flex;
    align-items: center; /* توسيط عمودي للصورة والنص */
    justify-content: center; /* توسيط أفقي */
    gap: 8px; /* مسافة بين الصورة والنص */
    width: 90%; 
    height: 50px;
    background-color: #F7F9FB;
    /*border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;*/
    color: #000;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.invite-more i {
    font-size: 1.2rem;
} 

.invite-more:hover {
    background: #161616;
    border: 1px solid #1a1a1a;
    color: #fff;
} 

.invite-copy {
    display: flex;
    align-items: center; /* توسيط عمودي للصورة والنص */
    justify-content: center; /* توسيط أفقي */
    gap: 8px; /* مسافة بين الصورة والنص */
    width: 25%; 
    height: 50px;
    background-color: #F7F9FB;
    color: #000;
    /*border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;*/
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
} 

.invite-copy i {
    font-size: 1.2rem;
}   

.invite-copy:hover {
   background: #161616;
   border: 1px solid #1a1a1a;
   color: #fff;
} 

#invitedCount {
    color: #fff;
    font-size: 16px;
    margin-left: 2px;
}

#i {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 22px;
    position: relative;
    display: inline-block; /* تجعل العناصر تأخذ موقعها المناسب */
    text-align: left;
}

#refreshIcon {
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    right: -140px;
    top: 0;
    transition: transform 0.5s linear; /* تأثير دوران سريع */
}

/* إضافة تأثير دوران عند النقر */
#refreshIcon:active {
    transform: rotate(360deg); /* تأثير دوران كامل */
}

.friend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #1c1c1c;
    border-radius: 20px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.00009);
    backdrop-filter: blur(5px); 
    padding: 10px;
    margin: 5px; 
    width: 100%;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
 
.friend-item:hover {
    background-color: #101010;
}

.friend-info {
    display: flex;
    align-items: center;
}

.friend-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #161616;
}

.friend-name {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.friend-balance {
    font-size: 12px;
    color: #808080; /* لون مميز للرصيد */
    font-weight: bold;
    text-align: right; /* محاذاة الرصيد إلى اليمين */
}


.invite-card {
/* background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);*/
  background-color: rgba(0, 0, 0,0.00001);
  color: #fff;
  border-radius: 10px;
  width: 87%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);*/
}

.invite-header h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #fff; /* لون النص البارز */
}

.invite-content p {
  font-size: 13px;
  line-height: 1.5;
  margin: 5px 0;
  font-weight: 500;
  color: #808080; 
}

