.icon-gamepad {
    display: block;
    margin: 5px auto;
    color: #000; 
} 

.Play-game-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 62px; 
    left: 17px; 
    width: 40%;
    height: 32px;
    padding: 5px;
    color: #fff; 
    background: linear-gradient(45deg, #101010, #000000);
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
    z-index: 10; /* لجعله فوق العناصر الأخرى */
    transform: translateY(-1px); /* تحريك طفيف لأعلى ليبدو كأنه مرتفع */
} 

.Play-game-button:hover {
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 0 3px rgba(255, 255, 255, 0.3), 0 0 3px rgba(255, 255, 255, 0.2);
}

.Play-game-button i {
    font-size: 1.1rem;
    margin-right: 6px;
} 

.Gamess {
    max-height: 355px; /* تحديد ارتفاع ثابت للحاوية الداخلية */
    width: 89%; /* عرض الحاوية الداخلية كاملاً */
    overflow-y: auto; /* تمكين التمرير العمودي */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    padding: 10px;
    border: 2px solid #343434;
    border-radius: 10px;
} 

.games-section {
    text-align: center;
    margin-top: 20px;
}


#gamePage .gamePage-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#GA {
    color: #fff; 
    font-size: 25px; 
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 20px;
    animation: popIn 0.4s ease forwards;
}


#currentGameInfo {
    font-size: 1.2rem;
    color: #aaaaaa;
    margin-bottom: 30px;
}


.game-container {
    display: flex;
    flex-direction: column; /* ترتيب الألعاب عموديًا */
    gap: 20px; /* مسافة بين العناصر */
    align-items: flex-start; /* محاذاة للعناصر لليسار */
    padding: 10px;
}

.game-item {
    display: flex;
    flex-direction: column; /* الصورة فوق النص */
    align-items: flex-start; /* محاذاة العناصر لليسار */
    width: 90%; /* عرض الصورة بالكامل */
    height: 170px;
}

.game-image {
    width: 100%; /* تجعل الصورة تملأ العرض */
    max-width: 500px; /* حد أقصى لحجم الصورة */
    border-radius: 20px; /* زوايا دائرية */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-image:hover {
    transform: scale(1.05); /* تكبير الصورة عند التمرير */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* تأثير الظل */
}

.game-title {
    font-size: 1.1rem;
    color: #fff; /* لون النص */
    margin-top: 10px; /* مسافة بين النص والصورة */
    margin-left: 20px; /* محاذاة النص لليسار */
    font-weight: bold;
}
 
.game-button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.game-button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}

#gameFrameContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter-container {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#gameFrame {
    width: 90%;
    height: 80%;
    border: none;
    border-radius: 15px;
}

#closeGamePage {
    margin-top: 15px;
    margin-left: 12px;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.counter, #coinn {
    font-size: 1.2rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border: 1px solid #343434;
    padding: 8px 16px;
    border-radius: 10px;
    margin-right: 10px;
    
}

.claim-button {
    margin-left: 10px;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border: 1px solid #343434;
    border-radius: 10px;
    font-size: 1.2rem; 
    cursor: pointer;
}

.claim-button:hover {
    background: linear-gradient(90deg, #794106, #d69a1c, #9f620c);
}
 
