.icon-gamepad {
    display: block;
    margin: 5px auto;
    color: #000; 
} 

.Play-game-button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 66px; 
    left: 15px; 
    width: 40%;
    height: 32px;
    padding: 5px;
    color: #fff; 
    background: #101010;
    font-size: 12px;
    font-weight: bold;
    border-radius: 24px;
    cursor: pointer;
   /* border: 1px solid #1E90FF;*/
    z-index: 10; /* لجعله فوق العناصر الأخرى */
    transform: translateY(-1px); /* تحريك طفيف لأعلى ليبدو كأنه مرتفع */
} 

.Play-game-button:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.3), 0 0 18px rgba(255, 255, 255, 0.2);
}

.Play-game-button i {
    font-size: 1.3rem;
    margin-right: 5px;
} 

.Gamess {
    max-height: 355px; /* تحديد ارتفاع ثابت للحاوية الداخلية */
    width: 89%; /* عرض الحاوية الداخلية كاملاً */
    overflow-y: auto; /* تمكين التمرير العمودي */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    padding: 10px;
    border: 2px solid #343434;
    border-radius: 10px;
} 

.games-section {
    text-align: center;
    margin-top: 20px;
}


#gamePage .gamePage-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#GA {
    color: #808080; 
    font-size: 17px; 
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 20px;
}


#currentGameInfo {
    font-size: 1.2rem;
    color: #aaaaaa;
    margin-bottom: 30px;
}


#gamePage .game-container {
    display: flex;
    flex-direction: column; /* ترتيب العناصر عموديًا */
    justify-content: center; /* محاذاة العناصر في المنتصف عموديًا */
    align-items: center; /* محاذاة العناصر في المنتصف أفقيًا */
}


.game-item {
    filter: blur(5px); /* يجعل العنصر ضبابيًا */
    pointer-events: none; /* تعطيل التفاعل مع العنصر */
  
    width: 90%; /* عرض الحاوية بنسبة 88% */
    height: 100px;
    display: flex;
    align-items: center; /* محاذاة المحتوى رأسياً في المنتصف */
    justify-content: flex-start; /* محاذاة المحتوى أفقيًا من اليسار */
    border-radius: 10px;
    padding: 10px;
    background: #161616;
    text-align: left; /* لضبط النص إلى اليسار */
    cursor: pointer;
    overflow: hidden;
    margin-top: 50px;
    margin: 10px auto; /* لضبط العنصر في المنتصف من اليسار إلى اليمين */
}



#gamePage .game-item img {
    width: 50px; /* تجعل الصورة تملأ العرض الكامل */
    height: 50px; /* تجعل الصورة تملأ الارتفاع الكامل */
    object-fit: cover; /* لضمان تغطية المساحة بدون تشويه */
   /* position: absolute;*/ /* لضبط الصورة داخل الحاوية */
    border-radius: 10px; /* نفس الزوايا الدائرية للحاوية */
    margin-right: 25px;
    margin-left: 10px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.3), 0 0 9px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
} 


#gamePage .game-item p {
    font-size: 1rem;
    color: #fff;
    margin: 0 0 10px;
}

.game-item button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 80%;
    transition: background-color 0.3s;
    border: none;
    font-weight: bold;
    font-size: var(--claim-button-size);
    /*border: 1px solid #343434;*/
    z-index: 10;
    margin-top: auto; 
}
 
#gamePage .game-button:hover {
    background: linear-gradient(90deg, #562a04, #794106, #9f620c, #d69a1c);
}


#gameFrameContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter-container {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#gameFrame {
    width: 90%;
    height: 80%;
    border: none;
    border-radius: 15px;
}

#closeGamePage {
    margin-top: 15px;
    margin-left: 12px;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.counter, #coinn {
    font-size: 1.2rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border: 1px solid #343434;
    padding: 8px 16px;
    border-radius: 10px;
    margin-right: 10px;
    
}

.claim-button {
    margin-left: 10px;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border: 1px solid #343434;
    border-radius: 10px;
    font-size: 1.2rem; 
    cursor: pointer;
}

.claim-button:hover {
    background: linear-gradient(90deg, #794106, #d69a1c, #9f620c);
}
 
