.icon-gamepad {
    display: block;
    margin: 5px auto;
    color: #000; 
} 

.Play-game-button {
    border: 1px solid #1c1c1c;
    border-radius: 20px; /* زوايا مستديرة في الأسفل فقط */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.00009);
    backdrop-filter: blur(5px); 
    width: 35px; /* تحديد عرض ثابت */
    height: 35px; /* نفس القيمة مثل العرض */
    padding: 0; /* لضبط المساحة الداخلية */
    border-radius: 50%;
    /*margin-left: 5px;*/
    animation: popIn 0.4s ease forwards;
}
 
.Play-game-button i {
    font-size: 1.2rem;
    color: #fff; 
} 

.Gamess {
    max-height: 355px; /* تحديد ارتفاع ثابت للحاوية الداخلية */
    width: 89%; /* عرض الحاوية الداخلية كاملاً */
    overflow-y: auto; /* تمكين التمرير العمودي */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    padding: 10px;
    border: 2px solid #343434;
    border-radius: 10px;
} 

.games-section {
    text-align: center;
    margin-top: 20px;
}


#gamePage .gamePage-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#GA {
    color: #fff; 
    font-size: 22px; 
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 20px;
    animation: popIn 0.4s ease forwards;
}


#currentGameInfo {
    font-size: 1.2rem;
    color: #aaaaaa;
    margin-bottom: 25px;
}


.game-container {
    display: flex;
    flex-direction: column; /* ترتيب الألعاب عموديًا */
    gap: 20px; /* مسافة بين العناصر */
    align-items: flex-start; /* محاذاة للعناصر لليسار */
    padding: 10px;
}

.game-item {
    pointer-events: none; 

    display: flex;
    flex-direction: column; /* الصورة فوق النص */
    align-items: flex-start; /* محاذاة العناصر لليسار */
    width: 96%; /* عرض الصورة بالكامل */
    height: 240px;
    margin: 5px auto;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.game-image {
    width: 100%; /* تجعل الصورة تملأ العرض */
    height: 100%;
    max-width: 500px; /* حد أقصى لحجم الصورة */
    border-radius: 20px; /* زوايا دائرية */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-image:hover {
    transform: scale(1.05); /* تكبير الصورة عند التمرير */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* تأثير الظل */
}

.game-title {
    font-size: 15px;
    color: #fff; /* لون النص */
    margin-top: 10px; /* مسافة بين النص والصورة */
    margin-left: 20px; /* محاذاة النص لليسار */
    margin-bottom: 30px; 
}
 
