#gameTwo, #bost2, #puzzle1, #globalNavbar, #minee1 {
    animation: slideInLeft 0.4s ease forwards;
}

#gameOne, #bost1, #daily2, #minee2 {
    animation: slideInRight 0.4s ease forwards;
}

#gamesix, #taskcontainer, .friend-item {
    animation: slideInLeft 0.4s ease forwards;
}

#gametre, #ad {
    animation: slideInRight 0.4s ease forwards;
}

.invite-section {
    animation: slideInRight 0.4s ease forwards;
}

#invitedCount {
    animation: slideInLeft 0.4s ease forwards;
}

.invite-content {
    animation: slideInLeft 0.4s ease forwards;
}



