#gameTwo {
    animation: slideInLeft 0.4s ease forwards;
}

#gameOne {
    animation: slideInRight 0.4s ease forwards;
}

#gamesix {
    animation: slideInLeft 0.4s ease forwards;
}

#gametre {
    animation: slideInRight 0.4s ease forwards;
}

.invite-section {
    animation: slideInRight 0.4s ease forwards;
}

#invitedCount {
    animation: slideInLeft 0.4s ease forwards;
}

.invite-content {
    animation: slideInLeft 0.4s ease forwards;
}



