#gameC-1, #bost2, #puzzle1, #globalNavbar {
    animation: slideInLeft 0.4s ease forwards;
}

#gameC-2, #bost1, #daily2, .contact-support {
    animation: slideInRight 0.4s ease forwards;
}

#taskcontainer, .friend-item, #promocodeBtu {
    animation: slideInLeft 0.4s ease forwards;
}

#ad {
    animation: slideInRight 0.4s ease forwards;
}

.invite {
    animation: slideInRight 0.4s ease forwards;
}

#invitedCount {
    animation: slideInLeft 0.4s ease forwards;
}

/*.invite-content {
    animation: slideInLeft 0.4s ease forwards;
}*/

.contact-support-Chat {
   animation: popIn 0.4s ease forwards;
}


