.navigation-buttons {
    display: flex;
    justify-content: center; /* تمركز الأزرار أفقيًا */
    align-items: center; /* تمركز الأزرار عموديًا */
    padding: 10px;
    width: 85%;
    border: 0.50px solid #343434;
    height: 20px;
    gap: 10px; /* المسافة بين الأزرار */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.005);
    backdrop-filter: blur(1px);
    position: absolute; /* تحديد الموقع العائم */
    top: 265px; /* تحديد المسافة من الأسفل (يمكنك تعديلها حسب الحاجة) */
    left: 50%; /* تمركز الحاوية أفقيًا */
    transform: translateX(-50%); /* محاذاة الحاوية تمامًا في المنتصف */
    z-index: 999; /* لتكون فوق العناصر الأخرى */
}

/* تصميم الأزرار */
.navigation-buttons button {
    flex: 1;
    width: 100%;
    height: 27px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.001);
    transition: background-color 0.4s ease, transform 0.4s ease; /* تأثير الانتقال للخلفية */
}

/* الخلفية النشطة */
.navigation-buttons button.active {
    background: linear-gradient(135deg, rgba(60, 60, 60, 0.9), rgba(30, 30, 30, 0.9));
    border: 1px solid #343434;
}

.level-item {
    display: none; /* إخفاء جميع المستويات في البداية */
}

.level-container.active .level-item {
    display: block; /* عرض المستويات فقط عند تنشيط القسم */
} 



.level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* تمركز العناصر في منتصف الشاشة */
    width: 100%;
    padding: 0;
    margin-bottom: 100px; 
}

.current-level-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
} 

/*.level-item {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin: 10px 0;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    height: 50px;
    text-align: left;
    border: 1px solid #343434;
}*/

.level-item {
    display: flex;
    align-items: center;
    justify-content: center; /* محاذاة العناصر نحو اليسار */
    margin: 5px 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px); /* تأثير الضبابية */
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    height: 90px;
   /* text-align: right;*/
    border: 0.50px solid #343434;
    /*position: relative;*/ /* لتحديد موضع العناصر داخل الحاوية */
} 


.level-image {
    width: 45px; /* حجم ثابت للصورة */
    height: 45px; /* حجم ثابت للصورة */
    object-fit: cover; /* لضمان تناسب الصورة مع الحاوية */
    flex-shrink: 0; /* لضمان عدم تقلص الصورة */
}

.level10-image {
    width: 28px; /* حجم ثابت للصورة */
    height: 28px; /* حجم ثابت للصورة */
    object-fit: cover; /* لضمان تناسب الصورة مع الحاوية */
    flex-shrink: 0; /* لضمان عدم تقلص الصورة */
} 

.level-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    font-size: 15px;
    margin-top: 40px;
} 

.level-text p {
    margin: 0; /* إزالة المسافات بين الفقرات */
}

 .levels-image {
    width: 150px; /* حجم ثابت للصورة */
    height: auto;
    display: block;
    margin: 0 auto;
     
} 

.level-phase {
    text-align: left;
    font-weight: bold;
    padding-left: 80px;
}
 
.level-name {
    text-align: center;
    font-weight: bold;
}

.coin-name {
    text-align: right;
    font-weight: bold;
    padding-right: 30px;
    font-size: 13px;
} 

/*.level-image-container {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-right: 15px; 
    background-color: rgba(255, 255, 255, 0.3); 
    border: 1px solid #343434; 
}*/

/* الحاوية التي تحتوي على الصورة */
.level-image-container {
    position: absolute; /* لجعلها خارج إطار البيانات */
    left: 13px; /* المسافة التي تريد وضع الصورة بها خارج الحاوية */
    top: 50%; /* تمركز الصورة عموديًا داخل الحاوية */
    transform: translateY(-50%); /* تمركز الصورة بشكل صحيح */
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.003); /* خلفية شفافة للدائرة */
    border: 1px solid #343434;
    display: flex;
    align-items: center;
    justify-content: center; /* تمركز الصورة داخل الدائرة */
}

 .level-button-floating {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 60px; 
    left: 20px; 
    width: 40%;
    height: 35px;
    padding: 5px;
    color: #ffffff; 
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 11px;
    font-weight: bold;
    border-radius: 8px;
    border: 0.50px solid #343434;
    cursor: pointer;
    z-index: 100;
 }

.level-button-floating:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.3), 0 0 18px rgba(255, 255, 255, 0.2);
}

.arrow {
    font-size: 10px; /* تخصيص حجم السهم */
    margin-left: 10px; /* المسافة بين السهم والمحتوى */
    color: #fff;
    opacity: 0.7;
} 

.level-button-floating img {
    width: 33px; 
    height: 33px;
    margin-right: 2px; 
    opacity: 0.8;
}
  
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.level-item.current-level {
    border: 2px solid silver; 
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff; 
    font-weight: bold; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); /* إضافة توهج */
}

#currentLevelImage {
    width: 30px; /* عرض الصورة بوضعها الطبيعي أو ما يتناسب مع حجم الزر */
    height: 30px; /* ارتفاع الصورة */
    object-fit: contain; /* لضبط الصورة بحيث لا تتشوه */
}

#levelPageCurrentLevelName {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px; /* إضافة مسافة بين اسم المستوى ورقم المستوى */
    text-align: left; /* محاذاة لليسار */
}

/* تنسيق رقم المستوى داخل النص */
#displayedLevel {
    font-size: 15px;
    font-weight: bold;
    color: #343434;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px; /* مسافة بين رقم المستوى واسم المستوى */
}

.level-texxt {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px; /* مسافة بين العناصر */
}

.energy-barrr-container {
    width: 80%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    overflow: hidden;
    margin: 5px auto; /* تمركز شريط الطاقة في المنتصف */
}

#levelPageEnergyFill {
    height: 100%;
    width: 0;
    background-color: #fff;
    transition: width 0.3s ease;
}

#levelPageCurrentLevelCoins {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    opacity: 0.7;
    text-align: center; /* تمركز النص */
    margin-bottom: 5px; /* مسافة بين "Next Level" وشريط الطاقة */
}

.additional-level-info {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.01);
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto 80px;
    width: 86%;
    height: 130px;
    max-width: 400px;
    border: 2px solid #343434;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.2), 0 0 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.levell-image {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 15px; /* مسافة بين الصورة والنص */
}

/* تدرجات اللون للمستويات من 1 إلى 10 */
.gradient-level-1, 
#level1 .level-name, 
#level2 .level-name, 
#level3 .level-name, 
#level4 .level-name, 
#level5 .level-name, 
#level6 .level-name, 
#level7 .level-name, 
#level8 .level-name, 
#level9 .level-name, 
#level10 .level-name {
    background-color: transparent;
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* تدرجات اللون للمستويات من 11 إلى 20 */
.gradient-level-2, 
#level11 .level-name, 
#level12 .level-name, 
#level13 .level-name, 
#level14 .level-name, 
#level15 .level-name, 
#level16 .level-name, 
#level17 .level-name, 
#level18 .level-name, 
#level19 .level-name, 
#level20 .level-name {
    background-color: transparent;
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* تدرجات اللون للمستويات من 21 إلى 30 */
.gradient-level-3, 
#level21 .level-name, 
#level22 .level-name, 
#level23 .level-name, 
#level24 .level-name, 
#level25 .level-name, 
#level26 .level-name, 
#level27 .level-name, 
#level28 .level-name, 
#level29 .level-name, 
#level30 .level-name {
    background-color: transparent;
    background: #fff;
   -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* تدرجات اللون للمستويات من 31 إلى 40 */
.gradient-level-4, 
#level31 .level-name, 
#level32 .level-name, 
#level33 .level-name, 
#level34 .level-name, 
#level35 .level-name, 
#level36 .level-name, 
#level37 .level-name, 
#level38 .level-name, 
#level39 .level-name, 
#level40 .level-name {
    background-color: transparent;
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* تدرجات اللون للمستويات من 41 إلى 50 */
.gradient-level-5,
#level41 .level-name, 
#level42 .level-name, 
#level43 .level-name, 
#level44 .level-name, 
#level45 .level-name, 
#level46 .level-name, 
#level47 .level-name, 
#level48 .level-name, 
#level49 .level-name, 
#level50 .level-name {
    background-color: transparent;
    background: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.level-namee {
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
    font-size: 12px;
}

.coin-namee {
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
    font-size: 12px;
} 
