.miningPage-button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 60px; 
    right: 20px; 
    width: 40%;
    height: 35px;
    padding: 5px;
    color: #ffffff; 
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(1px);
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #343434;
    cursor: pointer;
    z-index: 100;
 }

.miningPage-button:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.3), 0 0 18px rgba(255, 255, 255, 0.2);
}

.arrow-mining {
    font-size: 14px; /* تخصيص حجم السهم */
    margin-left: 10px; /* المسافة بين السهم والمحتوى */
    color: #fff;
    opacity: 0.7;
} 

.miningPage-button img {
    width: 30px; 
    height: 30px;
    margin-right: 5px; 
} 

.section-nav {
    display: flex;
    justify-content: center; /* تمركز الأزرار أفقيًا */
    align-items: center; /* تمركز الأزرار عموديًا */
    padding: 10px;
    width: 85%;
    height: 20px;
    gap: 10px; /* المسافة بين الأزرار */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1px);
    position: absolute; /* تحديد الموقع العائم */
    top: 80px; /* تحديد المسافة من الأسفل (يمكنك تعديلها حسب الحاجة) */
    left: 50%; /* تمركز الحاوية أفقيًا */
    transform: translateX(-50%); /* محاذاة الحاوية تمامًا في المنتصف */
    z-index: 999; /* لتكون فوق العناصر الأخرى */
}

/* تصميم الأزرار */
.section-nav button {
    flex: 1;
    width: 100%;
    height: 27px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.01);
    transition: background-color 0.4s ease, transform 0.4s ease; /* تأثير الانتقال للخلفية */
} 

.upgrade-mining {
    width: 88%; /* عرض الحاوية بنسبة 44% */
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #343434;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    text-align: center;
    overflow: hidden;
} 

.upgrades-grid {
    display: grid;
    grid-template-columns: repeat(2, 44%); /* عرض كل عنصرين بجانب بعض */
    gap: 12px; /* المسافة بين العناصر */
    justify-content: center; /* محاذاة العناصر في المنتصف */
    margin-top: 10px;
} 
