.miningPage-button {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 60px; 
    right: 20px; 
    width: 40%;
    height: 35px;
    padding: 5px;
    color: #ffffff; 
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 11px;
    font-weight: bold;
    border-radius: 8px;
    border: 0.50px solid #343434;
    cursor: pointer;
    z-index: 100;
 }

.miningPage-button:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.3), 0 0 18px rgba(255, 255, 255, 0.2);
}

.arrow-mining {
    font-size: 10px; /* تخصيص حجم السهم */
    margin-left: 10px; /* المسافة بين السهم والمحتوى */
    color: #fff;
    opacity: 0.7;
} 

.miningPage-button img {
    width: 30px; 
    height: 30px;
    margin-right: 3px; 
    opacity: 0.7;
} 

.upgrade-mining {
    filter: blur(5px); /* يجعل العنصر ضبابيًا */
    pointer-events: none; /* تعطيل التفاعل مع العنصر */
  
    width: 88%; /* عرض الحاوية بنسبة 44% */
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.50px solid #343434;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    text-align: center;
    overflow: hidden;
} 

.upgrades-grid {
    display: grid;
    grid-template-columns: repeat(2, 44%); /* عرض كل عنصرين بجانب بعض */
    gap: 12px; /* المسافة بين العناصر */
    justify-content: center; /* محاذاة العناصر في المنتصف */
    margin-top: 10px;
} 

.upgrade-mining img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px; /* إضافة مسافة أسفل الصورة */
    border-radius: 10px;
    border: 1px solid #343434;
    object-fit: cover;
}




.upgrade-details h3 {
    margin: 0;
    font-size: 14px;
    color: #fff;
}

.upgrade-details p {
    margin: 4px 0;
    font-size: 12px;
    color: #ccc;
}

.profit-rate {
    font-size: 14px;
    color: #0f0;
    font-weight: bold;
}

.mining-cost-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 5px; /* مسافة بين المستوى والتكلفة */
}

.mining-cost-container span {
    display: inline-block;
}

.separatorrr {
    width: 1px;
    height: 12px;
    background-color: #aaa; /* لون الخط الفاصل */
}
 
