.community-button {
  border-bottom: 1px solid #1c1c1c;
  border-right: 1px solid #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute; 
  bottom: 85px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 87%;
  height: 40px;
  background-color: #101010;
  background-size: 300% 300%; 
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/*.community-button:hover {
    background-color: #101010;
    border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
}*/

.community-button i {
    font-size: 1.2rem;
    color: #fff;
    margin-left: 30px;
}   

.arrow-community {
    width: 20px; 
    height: 20px;
    color: #808080;
    margin-right: 25px;
} 
 
.text {
    font-size: 14px;
    margin-right: 50px;
} 

.text-promo {
    font-size: 14px;
    margin-right: 45px;
    font-family: 'Rubik',sans-serif ;
    font-weight: 700;
} 
 
 
.promo-code-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; /* تموضع مطلق */
    bottom: 73px; /* المسافة من أسفل الشاشة */
    left: 50%; /* البدء من منتصف الشاشة */
    transform: translateX(-50%); /* تحريك الحاوية إلى المنتصف أفقيًا */
    width: 85%;
    height: 39px;
    background: #101010;
    background-size: 300% 300%; /* يجعل التدرجات ديناميكية */
   /* background: linear-gradient(45deg, #101010, #2D83EC, #161616);
    background-size: 100% 100%;*//* تغطية كاملة بدون خطوط */
    border-radius: 20px;
    color: #fff;
    font-size: 13px;
    border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.promo-code-button:hover {
    border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
}


.promo-code-button i {
    font-size: 1.2rem;
    color: #fff;
    margin-left: 15px;
}    

.arrow-promo {
    width: 20px; 
    height: 20px;
    color: #808080;
    margin-right: 20px;
} 

.promo-box {
    position: relative; /* لجعل الزر يتمركز فوق خانة الإدخال */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    width: 94%;
    height: 45px; /* تأكد من أن البوكس يحتوي على الحجم المطلوب */
    border-radius: 25px;
    margin-bottom: 150px;
}

.promo-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.promo-input {
    background-color: rgba(0, 0, 0, 1);
    width: 100%; /* جعل العرض 100% لكي يتم التغطية بالكامل */
    height: 100%;
    font-size: 15px;
    border-radius: 25px;
   /* border: 1px solid #343434;*/
    color: white;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box; /* لضمان الحواف وال padding لا تؤثر على الحجم */
}

.apply_PromoCode {
    position: fixed;/* وضع الزر فوق خانة الإدخال */
    top: 0; /* ضعه في الأعلى */
    right: 0; /* وضعه على اليمين */
    background: #fff;
    color: transparent;
    font-weight: bold;
    border-radius: 20px;
    /*border: 1px solid #343434;*/
    cursor: pointer;
    width: 20%; /* عرض الزر */
    height: 100%; /* تأكد من أنه يغطي نفس ارتفاع خانة الإدخال */
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    -webkit-background-clip: text;
    background-clip: text;
    margin-right: 1px;
}

.apply_PromoCode.loading {
    pointer-events: none; /* منع النقر أثناء التحميل */
}

.spinner {
    border: 2.5px solid #0088CC;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.promo-icon {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}
.promo-labl {
    width: 100%;
    margin: 10px 0; /* مسافة من الأعلى والأسفل */
    display: flex;
    justify-content: center; /* توسيط الفاصل أفقياً */
}

.modal-labl {
    height: 1.5px; /* سمك الفاصل */
    background-color: #1a1a1a; /* لون الفاصل */
    width: 100%; /* عرض الفاصل */
} 
