.promo-box {
    position: relative; /* لجعل الزر يتمركز فوق خانة الإدخال */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1a1a1a;
    width: 88%;
    height: 45px; /* تأكد من أن البوكس يحتوي على الحجم المطلوب */
    border-radius: 25px;
}

.promo-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.promo-input {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%; /* جعل العرض 100% لكي يتم التغطية بالكامل */
    height: 100%;
    font-size: 15px;
    border-radius: 25px;
   /* border: 1px solid #343434;*/
    color: white;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box; /* لضمان الحواف وال padding لا تؤثر على الحجم */
}

.apply_PromoCode {
    position: fixed;/* وضع الزر فوق خانة الإدخال */
    top: 0; /* ضعه في الأعلى */
    right: 0; /* وضعه على اليمين */
    background: #808080;
    color: transparent;
    font-weight: bold;
    border-radius: 20px;
    /*border: 1px solid #343434;*/
    cursor: pointer;
    width: 25%; /* عرض الزر */
    height: 100%; /* تأكد من أنه يغطي نفس ارتفاع خانة الإدخال */
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    -webkit-background-clip: text;
    background-clip: text;
    margin-right: 10px;
}

.apply_PromoCode.loading {
    pointer-events: none; /* منع النقر أثناء التحميل */
}

.spinner {
    border: 3px solid #808080;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.promo-icon {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}
