.promo-labl {
    width: 98%;
    margin: 10px 0; /* مسافة من الأعلى والأسفل */
    display: flex;
    justify-content: center; /* توسيط الفاصل أفقياً */
}

.modal-labl {
    height: 1.5px; /* سمك الفاصل */
    background-color: #1a1a1a; /* لون الفاصل */
    width: 100%; /* عرض الفاصل */
}

.promo-code-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute; /* تموضع مطلق */
      bottom: 130px; /* المسافة من أسفل الشاشة */
      left: 50%; /* البدء من منتصف الشاشة */
      transform: translateX(-50%); /* تحريك الحاوية إلى المنتصف أفقيًا */
      width: 90%;
      height: 43px;
      font-weight: bold;
      background: #000;
      border-radius: 10px;
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      border: 1px solid #1a1a1a;
      transition: transform 0.2s, box-shadow 0.2s;
  } 

.icon-promo {
    width: 25px; 
    height: 25px;
    color: #fff;
    margin-left: 15px;
}   

.arrow-promo {
    width: 20px; 
    height: 20px;
    color: #808080;
    margin-right: 20px;
} 


.promo-box {
    position: relative; /* لجعل الزر يتمركز فوق خانة الإدخال */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    width: 94%;
    height: 45px; /* تأكد من أن البوكس يحتوي على الحجم المطلوب */
    border-radius: 25px;
    margin-bottom: 150px;
}

.promo-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.promo-input {
    background-color: rgba(0, 0, 0, 1);
    width: 100%; /* جعل العرض 100% لكي يتم التغطية بالكامل */
    height: 100%;
    font-size: 15px;
    border-radius: 25px;
   /* border: 1px solid #343434;*/
    color: white;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box; /* لضمان الحواف وال padding لا تؤثر على الحجم */
}

.apply_PromoCode {
    position: fixed;/* وضع الزر فوق خانة الإدخال */
    top: 0; /* ضعه في الأعلى */
    right: 0; /* وضعه على اليمين */
    background: #fff;
    color: transparent;
    font-weight: bold;
    border-radius: 20px;
    /*border: 1px solid #343434;*/
    cursor: pointer;
    width: 20%; /* عرض الزر */
    height: 100%; /* تأكد من أنه يغطي نفس ارتفاع خانة الإدخال */
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    -webkit-background-clip: text;
    background-clip: text;
    margin-right: 1px;
}

.apply_PromoCode.loading {
    pointer-events: none; /* منع النقر أثناء التحميل */
}

.spinner {
    border: 2.5px solid #0088CC;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.promo-icon {
    width: 25px;
    height: 25px;
    margin-right: 3px;
}
