.icon-puzzle-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 10px auto;
} 

.countdown-display {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px; /* حجم الخط */
    display: flex;
    align-items: center; /* لضبط المحاذاة الرأسية */
    border-radius: 8px; /* زوايا دائرية */
    color: #ffffff; /* لون النص */
    transition: padding 0.2s ease; /* تأثير بسيط عند التمدد */
    min-width: 50px; /* عرض أدنى للعنصر */
    white-space: nowrap; /* لمنع النص من الانتقال إلى سطر جديد */
    z-index: 1000;
}

/* تأثير الضباب والتوهج عند عدم التفعيل */
.puzzle-item.inactive {
    filter: blur(10px); /* يجعل العنصر ضبابيًا */
    border: 2px solid darkred; /* حواف حمراء داكنة */
    pointer-events: none; /* تعطيل التفاعل مع العنصر */
}

/* تأثير إعادة العنصر لحالته الطبيعية بعد انتهاء العد التنازلي */
.puzzle-item.active {
    filter: none; /* إزالة التأثير الضبابي */
    border: none; /* إزالة الحواف الحمراء */
    box-shadow: none; /* إزالة التوهج */
    pointer-events: auto; /* تمكين التفاعل مع العنصر */
} 

.puzzles-container {
    display: flex;
    flex-direction: column; /* ترتيب العناصر عموديًا */
    justify-content: center; /* محاذاة العناصر في المنتصف عموديًا */
    align-items: center; /* محاذاة العناصر في المنتصف أفقيًا */
}

#Puzzlespage .puzzle-item {
    width: 90%; /* عرض الحاوية بنسبة 88% */
    height: 100px;
    display: flex;
    align-items: center; /* محاذاة المحتوى رأسياً في المنتصف */
    justify-content: flex-start; /* محاذاة المحتوى أفقيًا من اليسار */
    border-radius: 10px;
    padding: 10px;
    background: #161616;
    text-align: left; /* لضبط النص إلى اليسار */
    cursor: pointer;
    overflow: hidden;
    margin-top: 50px;
    margin: 10px auto; /* لضبط العنصر في المنتصف من اليسار إلى اليمين */
}

.puzzle-item:hover {
    background: linear-gradient(135deg, #1a1a1a, #000, #1a1a1a, #000, #1a1a1a);
} 

#Puzzlespage .puzzle-image {
    width: 50px; /* تجعل الصورة تملأ العرض الكامل */
    height: 50px; /* تجعل الصورة تملأ الارتفاع الكامل */
    object-fit: cover; /* لضمان تغطية المساحة بدون تشويه */
   /* position: absolute;*/ /* لضبط الصورة داخل الحاوية */
    border-radius: 10px; /* نفس الزوايا الدائرية للحاوية */
    margin-right: 25px;
    margin-left: 10px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
} 

.puzzle-image:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3);
}

#Puzzlespage .puzzle1-image {
    width: 50px; /* تجعل الصورة تملأ العرض الكامل */
    height: 50px; /* تجعل الصورة تملأ الارتفاع الكامل */
    object-fit: cover; /* لضمان تغطية المساحة بدون تشويه */
   /* position: absolute;*/ /* لضبط الصورة داخل الحاوية */
    border-radius: 10px; /* نفس الزوايا الدائرية للحاوية */
    margin-right: 25px;
    margin-left: 10px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
} 

.puzzle1-image:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3);
}

.puzzle-item .puzzle-description h4 {
    font-size: 17px;
    color: #fff; /* لون مميز للعنوان */
    margin: 0;
    font-weight: bold;
}

.puzzle-item .puzzle-description p {
    font-size: 11px;
    color: #808080; /* لون فاتح للوصف */
    margin: 10px 0;
   /* margin-top: 5px;*//* مسافة بين العنوان والوصف */
    line-height: 1.5;
}
 

#Puzzlespage .puzzle2-image {
    width: 110px;
    height: 110px; /* اجعل الارتفاع مساويًا للعرض لتكون الصورة دائرية */
    margin: 0 auto 10px;
    display: block;
    object-fit: cover; 
}

#Puzzlespage #Puzzles {
    color: #aaaaaa; 
    font-size: 15px; 
    text-align: center;
    margin: 10px;
}

#buttons-container {
    display: flex;
    flex-wrap: wrap;  /* لتمكين العناصر من الانتقال إلى السطر التالي عند الحاجة */
    gap: 15px;  /* المسافة بين الأزرار */
    justify-content: center; /* محاذاة الأزرار في المنتصف */
}


#Puzzlespage .puzzle-item button:hover {
    background: linear-gradient(90deg, #794106, #9f620c, #d69a1c);
    background-position: center;
}

/* تخصيص الحاوية */
.puzzle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.puzzle-content {
    background-color: #101010; 
    padding: 10px; 
    border-radius: 20px 20px 0 0;
    color: #ffffff; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%); /* بداية من أسفل الشاشة */
    width: 90%;
    height: 60vh;
    z-index: 9999; /* قيمة z-index عالية جداً */
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start; /* تقريب العناصر ببعضها */
    gap: 5px; /* تقليل المسافة بين العناصر */
    animation: slideUp 0.5s ease-out forwards; /* إضافة تأثير التحريك */
}

/* تأثير التحريك من الأسفل */
@keyframes slideUp {
    0% {
        transform: translateX(-50%) translateY(100%);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

#Puzzlespage input, 
#Puzzlespage button {
    margin-top: 5px; /* تقليل المسافة العليا */
    padding: 5px; /* تقليل الحواف الداخلية */
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
}

#Puzzlespage input {
    border: 2px solid #343434; 
}

#Puzzlespage input:focus {
    border-color: var(--hover-color);
}

#Puzzlespage .notification {
    margin-top: 20px;
    font-size: 13px;
    color: #fff;
    z-index: 500000;
}

#Puzzlespage .success {
    color: green;
}

#Puzzlespage .warning {
    color: orange;
}

#Puzzlespage #countdownTimer {
    margin-top: 15px;
    font-size: 16px;
}

#Puzzlespage .hidden {
    display: none;
}

.close-btn {
    margin-top: 10px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.puzzle-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* ثلاث أعمدة في الصف الأول */
    gap: 3px; /* مسافة بين الأزرار */
    justify-items: center; /* محاذاة الأزرار في المنتصف */
    margin-top: 2px;
}

.puzzle-options button {
    width: 150px;
    height: 30px;
    font-size: 13px;
    font-weight: bold; 
    cursor: pointer;
   /* border: 1px solid #343434; */
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.puzzle-options button:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

/* تخصيص الزرين الأخيرين ليظهرا في الصف الثاني */
.puzzle-options button:nth-child(4),
.puzzle-options button:nth-child(5) {
    grid-column: span 1; /* توزيع الزرين في الصف الثاني */
}

#puzzleHint {
    margin-top: 10px; /* مسافة بين التلميح والأزرار */
    font-size: 13px;
}

/* Countdown timer container styling */
#countdownTimer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;  /* محاذاة المؤقت في المنتصف */
    letter-spacing: 3px; /* زيادة المسافة بين الأرقام */
}

#timer {
    color: red;
    font-size: 17px; /* حجم الخط للمؤقت */
    background-color: none; 
    padding: 8px;
    border-radius: 10px;
    margin-left: 5px; /* مسافة بين النص والمؤقت */
    font-family: 'Courier New', Courier, monospace; /* خط ثابت العرض */
    width: 100px; /* يمكنك ضبط العرض لضمان ثبات الحجم */
    text-align: center; /* محاذاة النص في المنتصف */
}

/* Animation for the blinking effect */
@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

/* Styling for the text next to the timer */
#timeText {
    font-size: 16px; /* حجم النص العادي */
    color: #fff; /* لون النص */
    margin-right: 5px; /* مسافة بين النص والمؤقت */
    text-align: center;
}

.attempts-display {
    font-size: 15px; /* حجم الخط */
    color: #fff; /* لون النص */
    margin-bottom: 1px; /* مسافة تحت العنوان */
    text-align: center; /* توسيط النص */
}

#Pu {
    color: #fff; 
    font-size: 14px; 
    margin: 10px 0;
    text-align: center;
}

#puzzleQuestion {
    font-size: 22px; /* حجم الخط أكبر */
    font-weight: bold; /* لجعل النص عريض */
    margin-bottom: 5px; /* إضافة بعض المسافة تحت السؤال */
    text-align: center; /* لتوسيط السؤال */
}

.reward-display {
    font-size: 15px; 
    color: #fff; /* إخفاء النص ليظهر التدرج */
    padding: 10px 0; /* إضافة مسافة من الأعلى والأسفل */
    text-align: center; /* توسيط النص داخل العنصر */
}


 #Puz-to {
    margin-top: 10px;
    margin-bottom: 10px; /* يمكنك تغيير القيمة حسب المسافة التي تريدها */
    font-weight: bold;
    font-size: 20px; 
}

.puzzle-icon {
    width: 30px;
    height: 30px;
    margin-right: 0; /* مسافة بين الصورة والنص */
    flex-shrink: 0;
}

.puzzle-btn img {
    vertical-align: middle;
}  


#room {
    color: white; /* لون النص */
    font-size: 18px; /* حجم الخط */
    margin-top: 5px; /* إزالة المسافة من الأعلى */
    margin-bottom: 10px; 
    text-align: center;
}
