.settings-button {
   /* position: fixed;
    top: 18px; 
    right: 38px;*/
    color: #fff; 
    background-color: rgba(255, 255, 255, 0.001);
    border-radius: 5px; 
   /* padding: 5px;*/
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.settings-button i {
    font-size: 1rem;
}  

.Error-mark {
    color: red;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.icon-tabler {
    color: #3592e7;
    width: 20px;
    height: 20px;
    vertical-align: middle;
} 

/* الحاوية الرئيسية */
.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* كارت معلومات الحساب */
.user-details-card {
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 400px;
    background-color: #161616;
    backdrop-filter: blur(2px); 
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

/* صورة المستخدم */
.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid #343434;
}

/* نصوص معلومات الحساب */
.user-details-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-name,
.user-id {
    font-size: 14px;
}

/* الحاوية للتفاصيل الإضافية */
.user-box {
    width: 95%;
    background-color: #161616;
    backdrop-filter: blur(2px); 
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* ملخص الحساب */
.account-summary p {
    display: flex;
    justify-content: space-between;
    /*border-bottom: 0.5px solid #343434;*/
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.detail-label {
    font-size: 14px;
    color: #ffffff;
}

.detail-value {
    font-size: 12px;
    font-weight: bold;
    color: #f0f0f0;
}
