.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px; /* مسافة بين العناصر */
}

/* صورة المستخدم */
.user-image {
    width: 80px;
    height: 80px;
    border-radius: 10px; /* صورة دائرية */
    border: 1px solid #343434; /* إطار للصورة */
    margin-bottom: 20px; /* مسافة أسفل الصورة */
}

/* صندوق المستخدم */
.user-box {
    width: 85%;
    max-width: 300px;
    background-color: #161616; /* خلفية داكنة داخل الصندوق */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* تفاصيل المستخدم */
.user-details {
    margin-bottom: 20px;
}

.user-name,
.user-id {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f0f0f0; /* لون النص */
}

.user-id {
    font-size: 14px;
}

/* ملخص الحساب */
.account-summary {
    width: 85%;
    text-align: left; /* نصوص متراصة إلى اليسار */
    background-color: #161616;
    border-radius: 10px;
    padding: 15px;
    color: #ffffff;
    line-height: 1.8;
    font-size: 14px;
}

.account-summary p {
    margin: 10px 0;
}

/* زر الإعدادات */
.settings-button {
    position: fixed;
    top: 15px; 
    right: 35px;
    background-color: rgba(255, 255, 255, 0.001);
    border-radius: 5px; 
    padding: 5px; 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    opacity: 0.7;
    z-index: 1000;
}

.settings-button img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.settings-button:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* إضافة ظل */
    opacity: 1;
}
