.walletTon-image {
    width: 100px;
    height: 100px;
    margin: 15px auto;
    display: block;
} 

.wallet-image {
    width: 140px;
    height: auto;
    display: block;
    margin: 0 auto;
} 

.icon-wallet {
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    color: #000; 
}

.wallet-button img {
    vertical-align: middle;
}  

#Buttoncontainer {
  position: absolute;
  width: 25%;
  height: 30px;
  padding: 5px;
  border-radius: 20px; 
  top: 12px; /* المسافة من الأعلى */
  right: 17px; /* المسافة من اليمين */
  display: flex;
  gap: 15px; /* المسافة بين الأزرار */
  z-index: 1000; /* التأكد من أن الأزرار في المقدمة */
}


.wallet-button {
    width: 35px; /* تحديد عرض ثابت */
    height: 35px; /* نفس القيمة مثل العرض */
    padding: 0; /* لضبط المساحة الداخلية */
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    margin-left: 5px;
    border: 1px solid #1c1c1c;
    animation: popIn 0.4s ease forwards;
}

.wallet-button:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* إضافة ظل */
} 

.wallet-button i {
    font-size: 1.2rem;
    background: linear-gradient(to bottom, #2D83EC, #4375ca);
    -webkit-background-clip: text; /* تطبيق التدرج على النص */
    -webkit-text-fill-color: transparent; /* جعل النص شفافًا ليظهر التدرج */
} 

.wallet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* استخدام كامل الارتفاع */
}

.wallet-box {
    background-color: rgba(0, 0, 0, 0.0007); /* لون خلفية أغمق لتحسين التباين */
    border-radius: 15px; /* تدوير أكبر للحواف */
    padding: 20px; /* زيادة الحشوة */
    width: 85%; /* تحديد العرض بشكل مناسب */
    max-width: 400px; /* تحديد عرض أقصى ليتماشى مع مختلف الأجهزة */
    margin: 0 auto; /* لضمان توسيط الحاوية */
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* تأكيد محاذاة المحتوى عموديًا */
}

.wallet-box p {
    font-size: 15px; /* تكبير حجم الخط */
    font-weight: bold;
    color: #808080; /* جعل النص أبيض ليتناسب مع الخلفية */
    margin-bottom: 10px;
}

#ton-connect {
    width: 100%; /* جعل الزر يمتد بعرض الصندوق */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0; /* إضافة مسافة أعلى الزر */
}

#ton-connect button {
    background: #2D83EC;
   /* backdrop-filter: blur(2px);*/
    border-bottom: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 23px 65px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%; /* جعل الزر بعرض الصندوق */
    max-width: 300px; /* تحديد عرض أقصى للزر */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    animation: popIn 0.4s ease forwards;
}

#ton-connect button:hover {
    background-color: #1a1a1a;
}
